<template>
    <v-container fluid>
        <v-card :loading="loading || loading_info" class="mb-4">
            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">

                <v-toolbar-title>
                    {{ assembly?.part.title }}
                    <router-link v-if="assembly" :to="{ name: 'assemblies' }">
                        <v-icon color="info" icon="mdi-link" />
                    </router-link>
                </v-toolbar-title>

                <template v-slot:append>

                    <v-toolbar-title class="mx-2">
                        <status-icon :status="assembly_revision_stats[status]" show_name />
                    </v-toolbar-title>
                </template>
            </v-toolbar>

            <v-card-subtitle>
                Assembly ID: {{ assembly?.id }}

                <v-menu>
                    <template v-slot:activator="{ props, isActive }">
                        <v-btn variant="plain" v-bind="props" class="text-none"
                            :append-icon="isActive ? 'mdi-chevron-up' : 'mdi-chevron-down'">
                            Revision: {{ revision }}
                        </v-btn>
                        ID: {{ revision_id }}

                    </template>
                    <v-list v-if="assembly">
                        <v-list-item v-for="(revision, index) in assembly.revisions" :key="index" router
                            :to="{ name: 'assembly_revision', params: { assembly_id: assembly.id, slug: revision.revision_slug }, force: true }">
                            <v-list-item-action>
                                <v-list-item-title>Revision {{ revision.revision }}</v-list-item-title>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                </v-menu>

            </v-card-subtitle>


            <v-divider></v-divider>

            <v-card-text>
                <v-row>
                    <v-col>
                        <v-container>
                            <vue-markdown :source="assembly?.part.description || ''" />
                        </v-container>
                    </v-col>
                    <!--
                    <v-col cols="4">
                        <v-card variant="tonal" density="compact" :loading="true">
                            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">
                                <template v-slot:prepend>
                                    <v-icon>mdi-abacus</v-icon>
                                </template>
                                <v-toolbar-title>Cost estimate</v-toolbar-title>

                                <v-spacer />

                                <v-btn :prepend-icon="bom ? 'mdi-refresh' : 'mdi-play'"
                                    :text="bom ? 'Refresh' : 'Calculate'"></v-btn>

                            </v-toolbar>
                            <v-divider thickness="5" color="success" class="border-opacity-50" />
                            <v-card-text density="compact">
                                <v-row dense>
                                    <v-col>
                                        <v-text-field v-model="bom_quantity" label="Quantity"
                                            hint="Assembly qty, seperate multiple values with comma" density="compact"
                                            persistent-hint single-line prepend-inner-icon="mdi-card-multiple-outline" />
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="bom_currency" :items="currencies" density="compact"
                                            hint="Currency to calculate total cost in" single-line persistent-hint
                                            prepend-inner-icon="mdi-cash"></v-select>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                            <v-table density="compact" class="text-subtitle-2">
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Total
                                        </th>
                                        <th class="text-left">
                                            @ Quantity
                                        </th>
                                        <th class="text-left">
                                            Extended price
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="bom" v-for="[qty, cost] in [[1, 0.035], [10, 0.030], [100, 0.024]]">
                                        <td>{{ cost }}</td>
                                        <td>@ {{ qty }}</td>
                                        <td>{{ qty * cost }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="12">
                                            <h4>No data</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </v-table>

                        </v-card>
                    </v-col>
                    -->
                </v-row>
            </v-card-text>


        </v-card>

        <v-data-table ref="parts" :headers="headers" :items="items" item-value="id" show-expand>
            <template v-slot:top>
                <v-toolbar dense floating>
                    <v-btn-toggle v-model="view_mode" class="ma-2" variant="outlined" color="primary" mandatory>
                        <v-btn value="parts">
                            <v-icon>mdi-format-list-bulleted-square</v-icon>
                        </v-btn>

                        <v-btn value="grouped">
                            <v-icon>mdi-file-tree</v-icon>
                        </v-btn>

                        <v-btn value="details" disabled>
                            <v-icon>mdi-format-list-text</v-icon>
                        </v-btn>

                    </v-btn-toggle>

                    <v-divider vertical inset></v-divider>

                    <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2" variant="solo"
                        density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
                    <v-app-bar-nav-icon disabled></v-app-bar-nav-icon>

                    <v-btn color="primary" prepend-icon="mdi-plus" @click="add_part">
                        <p class="hidden-sm-and-down">Add part</p>
                    </v-btn>
                </v-toolbar>
            </template>

            <template v-slot:item.references="{ item }">
                <span class="d-inline-block text-truncate" style="max-width: 100%;">
                    {{ item.raw.references }}

                </span>
            </template>

            <template v-slot:item.part.status="{ item }">
                <template v-if="item_info(item).part">
                    <status-icon :status="part_stats[item_info(item).part?.status || 'active']" show_name />
                </template>
                <template v-else>
                    <v-icon icon="mdi-alert-remove-outline" color="error"></v-icon>
                    No data
                </template>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon size="small" @click.stop="delete_part(item)">
                    mdi-delete
                </v-icon>
            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-container>
                            <vue-markdown :source="item_info(item).part?.description || ''" />
                        </v-container>
                        <!-- Cost information -->
                        <v-container v-if="bom">

                        </v-container>
                    </td>
                </tr>
            </template>

        </v-data-table>

    </v-container>

    <add-edit-assembly-part ref="create_assembly_part" />

    <confirm-dialog ref="confirm_delete" />
</template>
  
<script lang="ts">
import { defineComponent, ref } from "vue";
import { Assembly, AssemblyRevisionPart, AssemblyRevisionPartGroup, AssemblyRevisionService, AssemblyService } from '@/services/assembly'
import { useRoute } from 'vue-router'

import AddEditAssemblyPart from "@/components/AddEditAssemblyPart.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";

import VueMarkdown from 'vue-markdown-render'

import { AssemblyRevisionStatus, StatusIcon, part_stats, assembly_revision_stats } from 'frontend_common'

import { BomCurrency, currencies, get_default_currency } from '@/services/bom'

export default defineComponent({
    props: {
        assembly_id: {
            type: Number,
            required: true
        },
        slug: {
            type: String,
            required: true
        }
    },
    computed: {
        bom_quantity: {
            get(): string {
                let query_val = this.$route.query.quantity
                return (Array.isArray(query_val) ? query_val.join(',') : query_val) || '1'
            },
            set(value: string) {
                let values = value.split(',').map(v => v.trim()).filter(v => !!v)
                this.$router.replace({
                    query: {
                        ...this.$route.query,
                        quantity: values
                    }
                })
            }
        },
        bom_currency: {
            get(): BomCurrency {
                let query_val = this.$route.query.currency
                let res_query_val = (Array.isArray(query_val) ? query_val[-1] : query_val) || ''
                // Check that specified currency is valid
                return currencies.indexOf(res_query_val) == -1 ? get_default_currency() : res_query_val
            },
            set(value: BomCurrency) {
                this.$router.replace({
                    query: {
                        ...this.$route.query,
                        currency: value
                    }
                })
            }
        },
        headers() {
            var part_headers: { title: string, key: string, sortable?: boolean }[] = [
                { title: "Part#", key: "part.id" },
                { title: "Part title", key: "part.title" },
                { title: "Part status", key: "part.status" },
            ]
            if (this.view_mode == "grouped") {
                part_headers.unshift(
                    {
                        title: "References",
                        key: "references"
                    },
                    { title: "Qty", key: "quantity" },
                )
                return part_headers
            } else {
                part_headers.unshift({
                    title: "Reference",
                    key: "reference"
                })
                part_headers.push({
                    title: "Actions",
                    key: "actions",
                    sortable: false
                })
                return part_headers
            }
        },
        items() {
            let res = this.filter_parts(this.name);
            if (this.view_mode == "grouped") {
                return this.group_parts(res);
            }
            return res;
        }
    },
    data: () => ({
        revision_id: -1,
        loading: true,
        loading_info: true,
        view_mode: "parts" as "parts" | "grouped" | "details",
        name: undefined,
        assembly: undefined as Assembly | undefined,
        revision: "",
        status: "preliminary" as AssemblyRevisionStatus,
        assembly_parts: [] as AssemblyRevisionPart[],
        quantity: '1',

        bom: false,
    }),
    watch: {
        "$route.params.slug"(new_slug, old_slug) {
            if (new_slug) {
                this.load_revision_parts(this.assembly_id, new_slug);
            }
        },
    },
    methods: {
        filter_parts(search: string | undefined = undefined) {
            let m = search?.trim().toLowerCase() || "";
            var res = this.assembly_parts;
            if (search) {
                res = res.filter(p => p.reference.toLowerCase().indexOf(m) != -1
                    || (p.part && p.part?.title.toLowerCase().indexOf(m) != -1));
            }
            return res;
        },
        group_parts(assembly_parts: AssemblyRevisionPart[]): AssemblyRevisionPartGroup[] {
            let result = assembly_parts.reduce((storage: {
                [key: number]: AssemblyRevisionPartGroup;
            }, item: AssemblyRevisionPart) => {
                // Group by part.id or assembly_part_id if it has no part (i.e. don't group parts without partid)
                var group_part_id = (item.part?.id) || -(item?.id || 1);
                // set `storage` for this instance of group to the outer scope (if not empty) or initialize it
                storage[group_part_id] = storage[group_part_id] || {
                    items: [],
                    part: { ...item.part },
                    id: group_part_id
                };
                // add this item to its group within `storage`
                storage[group_part_id].items.push(item);
                return storage;
            }, {});
            return Object.values(result).map(v => {
                return {
                    references: v.items.map(r => r.reference).join(", "),
                    quantity: v.items.length,
                    ...v
                };
            });
        },
        item_info(item: any): AssemblyRevisionPart | AssemblyRevisionPartGroup {
            return item.raw;
        },
        load_revision_parts(assembly_id: number, slug: string) {
            this.loading = true;
            AssemblyRevisionService.get(assembly_id, slug).then(assembly_rev => {
                this.assembly_parts = assembly_rev.parts || [];
                this.revision = assembly_rev.revision;
                this.revision_id = assembly_rev.id || 0;
                this.status = assembly_rev.status;
                this.loading = false;
            }).catch(err => {
                this.revision = "<<Error>>";
                this.loading = false;
            });
        },
        load_assembly_info(assembly_id: number) {
            this.loading_info = true;
            AssemblyService.get(assembly_id).then(assembly => {
                this.assembly = assembly;
                this.loading_info = false;
            }).catch(err => {
                this.loading_info = false;
            });
        },
        add_part() {
            this.create_assembly_part?.create_assembly_part(this.assembly_id, this.slug).then(part => {
                // null = closed
                if (part) {
                    this.assembly_parts.push(part)
                }
            })
        },
        delete_part(item: { raw: AssemblyRevisionPart }) {
            this.confirm_delete?.show(`Delete '${item.raw.reference}' (${item.raw.part?.title})`, 'Are you sure?').then(res => {
                AssemblyRevisionService.delete_part(this.assembly_id, this.slug, item.raw).then(part => {
                    // Delete from table
                    if (part) {
                        let index = this.assembly_parts.findIndex(p => p.id == part.id)
                        if (index != -1) {
                            this.assembly_parts.splice(index, 1)
                        }
                    }
                }).catch(err => {
                    //TODO
                })
            }).catch(() => {
                // Shouldn't fail
            })

        },
    },
    mounted() {
        this.load_assembly_info(this.assembly_id);
        this.load_revision_parts(this.assembly_id, this.slug);
        this.filter_parts();
    },
    setup() {
        let route = useRoute();
        const create_assembly_part = ref<InstanceType<typeof AddEditAssemblyPart> | null>(null)
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);

        return { route, part_stats, assembly_revision_stats, currencies, create_assembly_part, confirm_delete };
    },
    components: { AddEditAssemblyPart, ConfirmDialog, VueMarkdown, StatusIcon }
});

</script>
  