<template>
    <v-container fluid>
        <v-data-table-server ref="table" v-model:items-per-page="items_per_page" :search="search"
            :headers="computed_headers" :items-length="total_items" :items="server_items" :loading="loading"
            class="elevation-1" item-value="id" @update:options="load_items" show-expand>

            <template v-slot:top>
                <v-toolbar dense floating>
                    <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2" variant="solo"
                        density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
                    <v-app-bar-nav-icon disabled></v-app-bar-nav-icon>

                    <v-btn color="primary" prepend-icon="mdi-plus" @click="create_assembly">
                        <p class="hidden-sm-and-down">Add assembly</p>
                    </v-btn>
                </v-toolbar>
            </template>

            <template v-slot:item.part.title="{ item }">
                {{ item_info(item).part.title }}
            </template>

            <template v-slot:item.part.description="{ item }">
                <div class="text-truncate" style="max-width: 75%;">
                    {{ item_info(item).part.description.split('\n')[0] }}
                </div>
            </template>

            <template v-slot:item.part.id="{ item }">
                <router-link :to="{ name: 'parts', query: { 'part-id': item_info(item).part.id } }">{{ item_info(item).part.id
                }}</router-link>
            </template>

            <template v-slot:item.part.status="{ item }">
                <status-icon :status="part_stats[item_info(item).part.status]" show_name />
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon size="small" class="me-2" @click="edit_assembly(item_info(item))">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="delete_assembly(item_info(item).id)">
                    mdi-delete
                </v-icon>
            </template>

            <template v-slot:no-data>
                <v-btn color="primary" @click="create_assembly">
                    Add your first assembly
                </v-btn>
            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-sheet fluid max-height="500%" class="overflow-auto">
                            <vue-markdown :source="item_info(item).part.description" class="ma-2" />
                        </v-sheet>
                        <v-container fluid>
                            <v-toolbar density="compact" class="mb-2" title="Assembly revisions">
                                <v-spacer />
                                <v-btn prepend-icon="mdi-plus" @click="create_assembly_revision(item_info(item))">Add
                                    revision</v-btn>
                            </v-toolbar>
                            <v-row v-if="item_info(item).revisions.length" dense>
                                <v-col v-for="revision in item_info(item).revisions" cols="3">
                                    <assembly-revision-info :revision="revision" :assembly_id="item_info(item).id"
                                        show_controls />
                                </v-col>
                            </v-row>
                            <v-sheet v-else>
                                <p class="mx-2">No assembly revisions</p>
                            </v-sheet>
                        </v-container>

                    </td>
                </tr>


            </template>

        </v-data-table-server>
    </v-container>

    <add-edit-assembly ref="add_edit_assembly" @on_delete="delete_assembly" />
    <add-edit-assembly-revision ref="add_edit_revision" />

    <confirm-dialog ref="confirm_delete" />
</template>
  
<script lang="ts">
import { defineComponent, ref } from "vue";

import { Assembly, AssemblyService } from "@/services/assembly";

import AssemblyRevisionInfo from "@/components/AssemblyRevisionInfo.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import AddEditAssembly from "@/components/AddEditAssembly.vue";
import AddEditAssemblyRevision from "@/components/AddEditAssemblyRevision.vue";

import { StatusIcon, part_stats } from 'frontend_common'
import { AxiosError } from "axios";

import VueMarkdown from "vue-markdown-render";


export default defineComponent({
    computed: {
        computed_headers() {
            return this.headers.filter(item => !(item.hide && !this.$vuetify.display.lgAndUp));
        }
    },
    data: () => ({
        items_per_page: 5,
        headers: [
            { title: "Assembly-ID", key: "id" },
            { title: "Part-ID", key: "part.id" },
            { title: "Title", key: "part.title" },
            { title: "Description", key: "part.description", hide: true },
            { title: "Status", key: "part.status" },
            { title: "Actions", key: "actions", sortable: false }
        ],
        server_items: [] as Assembly[],
        loading: true,
        total_items: 0,
        name: "",
        search: "",

        error: undefined as string | undefined,
    }),
    watch: {
        name() {
            this.search = String(Date.now());
        }
    },
    methods: {
        item_info(item: {
            raw: any;
        }): Assembly {
            return item.raw as Assembly;
        },
        load_items({ page, itemsPerPage, sortBy }: {
            page: number;
            itemsPerPage: number;
            sortBy: {
                key: string;
                order: string;
            }[];
        }) {
            this.loading = true;
            var sort_order = undefined;
            var sort_key = undefined;
            if (sortBy.length >= 1) {
                sort_order = sortBy[0].order;
                sort_key = sortBy[0].key;
            }
            var search: string | undefined = this.name;
            search = search.trim();
            if (search == null || search == "") {
                search = undefined;
            }
            AssemblyService.get_all({ page, items_per_page: itemsPerPage, sort_order, sort_key, search }).then(({ assemblies, total }) => {
                this.server_items = assemblies;
                this.total_items = total;
                this.loading = false;
            }).catch((err) => {

            });
        },
        // Edit supplier
        edit_assembly(item: Assembly) {
            this.add_edit_assembly?.edit_assembly(item).then(assembly => {
                if (assembly) {
                    this.search = String(Date.now());
                }
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        create_assembly() {
            this.add_edit_assembly?.create_assembly().then(assembly => {
                if (assembly) {
                    this.search = String(Date.now());
                }
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        create_assembly_revision(item: Assembly) {
            this.add_edit_revision?.create_assembly_revision(item.id).then(revision => {
                if (revision) {
                    item.revisions.push(revision)
                }
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        // Called when the row delete button is pressed 
        delete_assembly(assembly_id: number) {
            let index = this.server_items.findIndex(v => v.id == assembly_id)
            if (index == -1) {
                return
            }
            let assembly = this.server_items[index]

            this.confirm_delete?.show(`Delete '${assembly.part.title}'`, 'Are you sure?').then(res => {
                AssemblyService.delete(assembly_id).then(assembly => {
                    let index = this.server_items.findIndex(v => v.id == assembly.id)
                    if (index != -1) {
                        this.server_items.splice(index, 1)
                    }
                }).catch(err => {
                    //TODO
                })
            })
        },
    },
    setup() {
        const add_edit_assembly = ref<InstanceType<typeof AddEditAssembly> | null>(null)
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);
        const add_edit_revision = ref<InstanceType<typeof AddEditAssemblyRevision> | null>(null)

        return { part_stats, add_edit_assembly, add_edit_revision, confirm_delete };
    },
    components: { AssemblyRevisionInfo, StatusIcon, AddEditAssembly, ConfirmDialog, VueMarkdown, AddEditAssemblyRevision }
});

</script>
  