<template>
    <v-container class="d-flex" style="min-height: 100%;">
        <v-row align="center" justify="center">
            <v-spacer/>
            <v-col >
                <h1 v-if="current_user" class="text-info">Welcome {{ current_user.name }}!</h1>
                <h1 v-else class="text-info">Welcome</h1>
                <p>Use the navigation drawer to the left to navigate</p>
            </v-col>
            <v-spacer/>
        </v-row>
    </v-container>
</template>

<script lang="ts">

import { defineComponent } from 'vue';
import { useAuthStore } from '@/stores/auth.store';

const auth_store = useAuthStore()

export default defineComponent({
    computed: {
        current_user() {
            return auth_store.user
        }
    }

})

</script>
