<template>
    <v-container class="d-flex" style="min-height: 100%;">
        <v-row align="center" justify="center">
            <v-spacer/>
            <v-col >
                <h1 class="text-info">Page not found</h1>
                <p>The page you were looking for does not exist.</p>
            </v-col>
            <v-spacer/>
        </v-row>


    </v-container>
</template>
