<template>
  <v-container fluid>
    <v-alert v-if="error" title="Network error" :text="error" type="error" variant="tonal"></v-alert>

    <v-data-table-server :items-per-page="items_per_page" :search="search" :headers="computed_headers"
      :items-length="total_items" :items="server_items" :loading="loading" class="elevation-1" item-value="part.id"
      @update:options="load_items" show-expand :expanded="expanded_parts">

      <template v-slot:top>
        <v-toolbar dense floating>
          <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2" variant="solo"
            density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
          <v-app-bar-nav-icon @click="advanced_search = !advanced_search"></v-app-bar-nav-icon>
          <!--Create part dialog-->
          <v-btn color="primary" prepend-icon="mdi-plus" @click="create_part">
            <p class="hidden-sm-and-down">Add part</p>
          </v-btn>
        </v-toolbar>
        <v-expand-transition>
          <v-container v-show="advanced_search" class="rounded-0" fluid>
            <v-row no-gutters>
              <v-spacer></v-spacer>

              <v-col align-self="end">
                <v-checkbox label="Checkbox"></v-checkbox>

              </v-col>
            </v-row>
          </v-container>
        </v-expand-transition>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon size="small" class="me-2" @click="edit_part(item.raw.part)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" @click="delete_part(item.raw.part)">
          mdi-delete
        </v-icon>
      </template>

      <template v-slot:item.part.description="{ item }">
        <span class="d-inline-block text-truncate" style="max-width: 100%;">
          {{ item_info(item).part.description.split('\n')[0].trim() }}

        </span>
      </template>

      <template v-slot:item.part.status="{ item }">
        <status-icon :status="part_stats[item_info(item).part.status]" show_name />
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="create_part">
          {{ search ? 'Add your first part' : 'No matching parts. Create it?' }}
        </v-btn>
      </template>

      <template v-slot:expanded-row="{ columns, item }">
        <tr>
          <td :colspan="columns.length">
            <v-sheet fluid max-height="500%" class="overflow-auto">
              <vue-markdown :source="item_info(item).part.description" class="ma-2" />
            </v-sheet>

            <v-expansion-panels variant="accordion" multiple>
              <v-expansion-panel v-if="item_info(item).assembly">
                <v-expansion-panel-title v-slot="{ expanded }">
                  <h3 class="mx-2">Assembly</h3>

                  <template v-if="!expanded">
                    <v-chip class="mx-1 hidden-sm-and-down" v-for="rev in item_info(item).assembly?.revisions"
                      :text="'Rev ' + rev.revision" />
                  </template>
                </v-expansion-panel-title>

                <v-expansion-panel-text>
                  <v-row v-if="(item_info(item).assembly?.revisions.length || 0) >= 1" dense>
                    <v-col v-for="revision in item_info(item).assembly?.revisions" cols="3">
                      <assembly-revision-info :revision="revision" :assembly_id="item_info(item).assembly?.id || -1" />
                    </v-col>
                  </v-row>
                  <a v-else>No revisions in assembly</a>
                </v-expansion-panel-text>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-title v-slot="{ expanded }">
                  <h3 class="mx-2">Manufacturers</h3>

                  <template v-if="!expanded">
                    <v-chip class="mx-1 hidden-sm-and-down" v-for="part in item_info(item).mfr_parts"
                      :text="part.manufacturer?.name + ' ' + part.partno" />
                  </template>

                  <v-spacer />
                  <v-btn v-if="expanded" prepend-icon="mdi-plus" variant="plain"
                    @click.native.stop="create_manufacturer(item)" text="Add manufacturer" />
                  <v-divider v-if="expanded" vertical class="mx-5" />

                </v-expansion-panel-title>
                <v-expansion-panel-text>
                  <v-row v-if="(item_info(item).mfr_parts?.length || 0) >= 1" dense>
                    <v-col v-for="mfr_part in item.raw.mfr_parts" :key="mfr_part.id">
                      <manufacturer-part-item :part="mfr_part"
                        @edit="on_edit_manufacturer_part(item.raw.mfr_parts, $event)"
                        @delete="on_delete_manufacturer_part(item.raw.mfr_parts, $event)" />
                    </v-col>
                  </v-row>
                  <a v-else>Empty</a>
                </v-expansion-panel-text>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-title v-slot="{ expanded }">
                  <h3 class="mx-2">Kicad mappings</h3>

                  <template v-if="!expanded" v-for="{ library, parts } in item_info(item).kicad_parts">
                    <v-chip class="mx-1 hidden-sm-and-down" v-for="part in parts"
                      :text="library.name + '/' + part.reference" />
                  </template>
                  <v-spacer />
                  <v-btn v-if="expanded" prepend-icon="mdi-plus" variant="plain"
                    @click.native.stop="on_create_kicad_part(item)" text="Add kicad" />
                  <v-divider v-if="expanded" vertical class="mx-5" />

                </v-expansion-panel-title>
                <v-expansion-panel-text>
                  <v-row dense v-if="item_info(item).kicad_parts?.length">

                    <template v-for="{ library, parts } in item_info(item).kicad_parts">
                      <v-col v-for="part in parts">
                        <v-card fluid variant="tonal">

                          <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">
                            <template v-slot:prepend>
                              <v-icon>mdi-bookshelf</v-icon>
                            </template>

                            <v-toolbar-title>
                              {{ part.reference }}
                            </v-toolbar-title>


                            <template v-slot:append>
                              <v-btn icon="mdi-pencil" variant="plain"
                                @click="on_edit_kicad_part(parts, library, part)"></v-btn>
                              <v-btn icon="mdi-delete" variant="plain"
                                @click="on_delete_kicad_part(parts, library, part)"></v-btn>
                            </template>
                          </v-toolbar>

                          <v-card-subtitle class="mb-2">
                            {{ library.name }}
                            <router-link :to="{ name: 'kicad_libraries', params: { library: library.slug } }"
                              target="_blank"><v-icon color="info" icon="mdi-open-in-new"
                                size="x-small"></v-icon></router-link>
                          </v-card-subtitle>

                          <v-divider />

                          <v-card-text>
                            {{ part.description }}
                          </v-card-text>
                          <v-card-text>
                            <v-chip v-for="[name, val] in Object.entries(part.fields)" class="mx-1"
                              :text="`${name}: ${val}`"></v-chip>
                          </v-card-text>


                          <v-list>
                            <v-list-item v-if="part.symbols" v-bind="lib_name(part.symbols)">
                              <template v-slot:prepend>
                                <v-avatar size="x-small" image="@/assets/kicad/symbol.svg" rounded="0"></v-avatar>
                              </template>
                            </v-list-item>

                            <v-list-item v-if="part.footprints" v-bind="lib_name(part.footprints)">
                              <template v-slot:prepend>
                                <v-avatar size="x-small" image="@/assets/kicad/module.svg" rounded="0"></v-avatar>
                              </template>
                            </v-list-item>
                          </v-list>
                        </v-card>

                      </v-col>
                    </template>
                  </v-row>
                  <a v-else>Empty</a>

                </v-expansion-panel-text>

              </v-expansion-panel>

            </v-expansion-panels>
            <br>
          </td>
        </tr>
      </template>

      <template v-slot:item.data-table-expand="{ index, item, isExpanded, toggleExpand }">
        <v-btn :icon="isExpanded(item) ? 'mdi-chevron-up' : 'mdi-chevron-down'" :ripple="false" variant="plain"
          @click="on_expand(item, index, isExpanded, toggleExpand)">
        </v-btn>
      </template>

    </v-data-table-server>
  </v-container>

  <add-edit-part ref="add_edit_part" @on_delete="delete_part" />
  <add-edit-manufacturer-part ref="create_manufacturer_part" />
  <add-edit-kicad-part ref="create_kicad_part" />

  <confirm-dialog ref="confirm_delete" />
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

import { PartService, Part } from '@/services/parts'
import { SupplierPart } from "@/services/suppliers";
import { ManufacturerPart } from "@/services/manufacturers";
import { Database, KicadPart, KicadPartService, Library } from "@/services/kicad";

import ManufacturerPartItem from "@/components/ManufacturerPartItem.vue";
import AddEditManufacturerPart from "@/components/AddEditManufacturerPart.vue";
import AddEditSupplierPart from "@/components/AddEditSupplierPart.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import AddEditKicadPart from "@/components/AddEditKicadPart.vue";
import AddEditPart from "@/components/AddEditPart.vue";

import { Assembly } from "@/services/assembly";

import AssemblyRevisionInfo from "@/components/AssemblyRevisionInfo.vue";

import { StatusIcon, part_stats, part_status_choices } from 'frontend_common'
import { AxiosError } from "axios";

import VueMarkdown from "vue-markdown-render";


interface PartInfo {
  part: Part,
  loading?: boolean,
  loading_kicad?: boolean,
  error?: string,
  mfr_parts?: ManufacturerPart[],
  kicad_parts?: {
    library: Library,
    parts: KicadPart[]
  }[],
  assembly?: Assembly
}

export default defineComponent({
  computed: {
    computed_headers() {
      return this.headers.filter(item => !(item.hide && !this.$vuetify.display.lgAndUp))
    }
  },
  data: () => ({
    show_manufacturer_part_form: false,
    manufacturer_part_id: -1,
    edit_manufacturer_part: null as SupplierPart | null,

    items_per_page: 5,
    headers: [
      { title: "Part-ID", key: "part.id" },
      { title: "Title", key: "part.title" },
      { title: "Description", key: "part.description", hide: true },
      { title: "Status", key: "part.status" },
      { title: "Actions", key: "actions", sortable: false }
    ],
    server_items: [] as PartInfo[],
    loading: true,
    total_items: 0,
    name: "",
    search: "",
    default_item: {
      title: '',
      description: '',
      status: 'preliminary'
    } as Part,
    expanded_parts: [] as any[],
    error: null as string | null,

    advanced_search: false,
  }),
  watch: {
    name() {
      this.search = String(Date.now());
      this.expanded_parts = []
      if (this.name) {
        this.$router.replace({ query: { s: this.name } })
      } else {
        this.$router.replace({ query: { s: undefined } })
      }
    }
  },
  mounted() {
    this.name = (this.$route.query.s as string) || ''
    this.search = String(Date.now());
  },
  methods: {
    item_info(item: { raw: any }): PartInfo {
      return item.raw as PartInfo
    },
    load_items({ page, itemsPerPage, sortBy }: {
      page: number;
      itemsPerPage: number;
      sortBy: {
        key: string;
        order: string;
      }[];
    }) {
      this.loading = true;
      this.error = null;
      var sort_order = undefined;
      var sort_key = undefined;
      if (sortBy.length >= 1) {
        sort_order = sortBy[0].order;
        sort_key = sortBy[0].key;
      }
      var search: string | undefined = this.name;
      if (search == null || search == "") {
        search = undefined;
      } else {
        search = search.trim();
      }
      PartService.get_all({ page, items_per_page: itemsPerPage, sort_order, sort_key, search }).then(({ parts, total }) => {
        this.server_items = parts.map(part => ({ part }));
        this.total_items = total;
        this.loading = false;
      }).catch(err => {
        this.loading = false;
        this.error = "Failed to load parts"
      })
    },
    on_expand(item: { raw: PartInfo }, index: number, isExpanded: any, toggleExpand: any) {
      toggleExpand(item)
      if (isExpanded(item)) {
        item.raw.loading = true
        item.raw.error = undefined
        this.load_part_assembly(item)
        this.load_mfr_parts(item)
        this.load_kicad_parts(item)
      } else {
        delete item.raw.mfr_parts
        delete item.raw.kicad_parts
      }
    },
    load_mfr_parts(item: { raw: PartInfo }) {
      PartService.get_all_manufacturer_parts(item.raw.part.id || -1).then(mfr_parts => {
        item.raw.mfr_parts = mfr_parts
        item.raw.loading = false
        //console.info(item.mfr_part)
      }).catch(err => {
        item.raw.loading = false
        item.raw.error = "Failed to load manufacturer parts"
      })
    },
    load_part_assembly(item: { raw: PartInfo }) {
      PartService.get_assembly(item.raw.part.id || -1).then(assembly => {
        item.raw.assembly = assembly
        item.raw.loading = false
      }).catch((err: AxiosError ) => {
        if (err.isAxiosError && err.response?.status == 404) {
          this.load_mfr_parts(item)
        }
      })
    },
    load_kicad_parts(item: { raw: PartInfo }) {
      PartService.get_all_kicad_parts(item.raw.part.id || -1).then(kicad_parts => {
        item.raw.kicad_parts = kicad_parts
        item.raw.loading_kicad = false
      }).catch(err => {
        item.raw.loading_kicad = false
        item.raw.error = "Failed to load kicad parts"
      })
    },
    lib_name(lib: string) {
      let [name, part] = lib.split(':')
      if (part) {
        return {
          title: part,
          subtitle: name
        }
      } else {
        return {
          title: name
        }
      }

    },
    on_edit_kicad_part(kicad_parts: KicadPart[], library: Library, part: KicadPart) {
      let index = kicad_parts.findIndex(p => p.id == part.id)
      this.create_kicad_part?.edit_kicad_part(part, library).then(res => {
        // Replace part locally
        if (res) {
          let { part, library } = res
          kicad_parts.splice(index, 1, part)
        }
      }).catch(err => {
        // todo: present error
      })
    },
    on_delete_kicad_part(kicad_parts: KicadPart[], library: Library, part: KicadPart) {
      let index = kicad_parts.findIndex(p => p.id == part.id)

      this.confirm_delete?.show(`Delete '${library.name}/${part.reference}'`, "Are you sure?").then(res => {
        if (res) {
          KicadPartService.delete(library.slug, part.reference).then(part => {
            kicad_parts.splice(index, 1)
          }).catch(err => {
            // todo: present error
          })
        }
      })
    },
    on_create_kicad_part(item: { raw: PartInfo }) {
      this.create_kicad_part?.create_kicad_part(item.raw.part.id || -1).then(res => {
        if (res) {
          let { part, library } = res
          let index = item.raw.kicad_parts?.findIndex(l => l.library.slug == library.slug) || -1
          if (index != -1) {
            // Add to existing library list
            item.raw.kicad_parts?.[index].parts.push(part)
          } else {
            // Add new library with part to list
            item.raw.kicad_parts?.push({
              library,
              parts: [
                part
              ]
            })
          }
        }
      }).catch(err => {
        // todo: present error
      })
    },
    on_edit_manufacturer_part(mfr_parts: ManufacturerPart[], mfr: ManufacturerPart) {
      let index = mfr_parts.findIndex(p => p.id == mfr.id)
      if (index != -1) {
        // Replace part
        mfr_parts.splice(index, 1, mfr)

      }
    },
    on_delete_manufacturer_part(mfr_parts: ManufacturerPart[], mfr: ManufacturerPart) {
      let index = mfr_parts.findIndex(p => p.id == mfr.id)
      if (index != -1) {
        // Delete part
        mfr_parts.splice(index, 1)
      }
    },
    create_manufacturer(item: { raw: PartInfo }) {
      this.create_manufacturer_part?.create_manufacturer_part(item.raw.part.id || -1).then(part => {
        // null = closed
        if (part) {
          item.raw.mfr_parts?.push(part)
        }
      })
    },
    create_part() {
      this.add_edit_part?.create_part().then(part => {
        if (part) {
          this.search = String(Date.now());
        }
      }).catch((err: AxiosError | Error) => {
        this.error = err.message
      })
    },
    // Edit part
    edit_part(item: Part) {
      this.add_edit_part?.edit_part(item).then(part => {
        if (part) {
          this.search = String(Date.now());
        }
      }).catch((err: AxiosError | Error) => {
        this.error = err.message
      })
    },
    // Called when the row delete button is pressed 
    delete_part(item: Part) {
      this.confirm_delete?.show(`Delete '"${item.title}"`, "Are you sure?").then(res => {
        if (res) {
          PartService.delete(item.id || -1).then(_ => {
            // Refresh parts list
            this.search = String(Date.now());
          }).catch(err => {
            //console.error(err)
          })
        }
      })
    },
  },
  setup() {
    const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);
    const add_edit_part = ref<InstanceType<typeof AddEditPart> | null>(null)
    const create_manufacturer_part = ref<InstanceType<typeof AddEditManufacturerPart> | null>(null)
    const create_kicad_part = ref<InstanceType<typeof AddEditKicadPart> | null>(null)

    return { confirm_delete, create_manufacturer_part, create_kicad_part, part_stats, part_status_choices, add_edit_part }
  },
  components: {
    ManufacturerPartItem,
    AddEditManufacturerPart,
    ConfirmDialog,
    AddEditSupplierPart,
    AddEditKicadPart,
    AssemblyRevisionInfo,
    StatusIcon,
    AddEditPart,
    VueMarkdown
  }
});

</script>
