<template>
    <v-container fluid>
        <v-alert v-if="error" title="Network error" :text="error" type="error" variant="tonal"></v-alert>

        <v-data-table-server ref="table" v-model:items-per-page="items_per_page" :search="search"
            :headers="computed_headers" :items-length="total_items" :items="server_items" :loading="loading"
            class="elevation-1" item-value="name" @update:options="load_items" show-expand>

            <template v-slot:top>
                <v-toolbar dense floating>
                    <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2" variant="solo"
                        density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    <v-btn color="primary" prepend-icon="mdi-plus" @click="create_supplier">
                        <p class="hidden-sm-and-down">Add supplier</p>
                    </v-btn>
                </v-toolbar>
            </template>

            <template v-slot:item.name="{ item }">
                {{ item.raw.name }}
                <a v-if="item.raw.link" :href="item.raw.link" target="_blank" rel="noopener noreferrer"><v-icon color="info"
                        icon="mdi-link-variant" size="small"></v-icon></a>
            </template>

            <template v-slot:item.description="{ item }">
                <div class="text-truncate" style="max-width: 75%;">{{ item.raw.description.split('\n')[0] }}</div>
            </template>

            <template v-slot:item.status="{ item }">
                <status-icon :status="supplier_stats[item_info(item).status]" show_name />
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon size="small" class="me-2" @click="edit_supplier(item.raw)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="delete_supplier(item.raw)">
                    mdi-delete
                </v-icon>
            </template>

            <template v-slot:no-data>
                <v-btn color="primary" @click="create_supplier">
                    Add your first supplier
                </v-btn>
            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-sheet fluid max-height="500%" class="overflow-auto">
                            <vue-markdown :source="item_info(item).description" class="ma-2" />
                        </v-sheet>
                    </td>
                </tr>
            </template>

        </v-data-table-server>
    </v-container>

    <confirm-dialog ref="confirm_delete" />
    <add-edit-supplier ref="add_edit_supplier" @on_delete="delete_supplier" />
</template>
  
<script lang="ts">
import { defineComponent, ref } from "vue";
import { AxiosError } from "axios";

import { StatusIcon, supplier_stats, supplier_status_choices } from 'frontend_common'
import { SuppliersService, Supplier } from "@/services/suppliers";

import VueMarkdown from "vue-markdown-render";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import AddEditSupplier from "@/components/AddEditSupplier.vue";

export default defineComponent({
    computed: {
        computed_headers() {
            return this.headers.filter(item => !(item.hide && !this.$vuetify.display.lgAndUp))
        }
    },
    data: () => ({
        items_per_page: 5,
        headers: [
            { title: "Supplier-ID", key: "id" },
            { title: "Name", key: "name" },
            { title: "Description", key: "description", hide: true },
            { title: "Status", key: "status" },
            { title: "Actions", key: "actions", sortable: false }
        ],
        server_items: [] as Supplier[],
        loading: true,
        total_items: 0,
        error: undefined as undefined | string,
        name: "",
        search: "",
    }),
    watch: {
        name() {
            this.search = String(Date.now());
        }
    },
    methods: {
        item_info(item: { raw: any }): Supplier {
            return item.raw as Supplier
        },
        load_items({ page, itemsPerPage, sortBy }: {
            page: number;
            itemsPerPage: number;
            sortBy: {
                key: string;
                order: string;
            }[];
        }) {
            this.loading = true;
            var sort_order = undefined;
            var sort_key = undefined;
            if (sortBy.length >= 1) {
                sort_order = sortBy[0].order;
                sort_key = sortBy[0].key;
            }
            var search: string | undefined = this.name;
            if (search == null || search == "") {
                search = undefined;
            }
            else {
                search = search.trim();
            }
            SuppliersService.get_all({ page, items_per_page: itemsPerPage, sort_order, sort_key, search }).then(({ suppliers, total }) => {
                this.server_items = suppliers;
                this.total_items = total;
                this.loading = false;
            });
        },
        edit_supplier(item: Supplier) {
            this.add_edit_supplier?.edit_supplier(item).then(supplier => {
                if (supplier) {
                    let index = this.server_items.findIndex(v => v.id == supplier.id)
                    if (index != 1) {
                        this.server_items.splice(index, 1, supplier)
                    }
                }
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        create_supplier() {
            this.add_edit_supplier?.create_supplier().then(supplier => {
                if (supplier) {
                    this.search = String(Date.now());
                }
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        // Called when the row delete button is pressed 
        delete_supplier(item: Supplier) {
            this.confirm_delete?.show(`Delete '"${item.name}"`, "Are you sure?").then(res => {
                if (res) {
                    SuppliersService.delete(item.id || 0).then(_ => {
                        this.search = String(Date.now());
                    }).catch(err => {
                        console.error(err)
                    })
                }
            })
        }
    },
    setup() {
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);
        const add_edit_supplier = ref<InstanceType<typeof AddEditSupplier> | null>(null);

        return { supplier_stats, supplier_status_choices, confirm_delete, add_edit_supplier }
    },
    components: {
        StatusIcon, ConfirmDialog, AddEditSupplier, VueMarkdown
    }
});

</script>
  