<template>
  <v-app-bar flat>
    <v-app-bar-title>
      <v-avatar size="x-large">
        <v-img class="ma-2" src="@/assets/ki-365-logo.svg"/>
      </v-avatar>
      

      BOM

    </v-app-bar-title>
    <v-spacer/>
    <connection-manager/>
  </v-app-bar>
</template>

<script lang="ts">
import ConnectionManager from '@/components/ConnectionManager.vue';
import { defineComponent } from 'vue';


export default defineComponent({
  components: { ConnectionManager }
})
  //
</script>
