<template>
    <v-container fluid>
        <v-card :loading="bom_loading">
            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">

                <v-toolbar-title>
                    {{ project?.title }}
                </v-toolbar-title>

                <template v-slot:append>
                    <v-btn prepend-icon="mdi-refresh" @click="refresh" :disabled="!bom_loading">Refresh</v-btn>
                </template>
            </v-toolbar>

            <v-card-subtitle>
                Revision: {{ project?.revision }}
                <small>{{ project?.source }}</small>
            </v-card-subtitle>

            <v-card-text>

                <v-row>
                    <v-col>
                        <div>
                            Project description
                        </div>
                    </v-col>
                    <v-col cols="4">
                        <v-card title="Pricing" variant="tonal">
                            <v-table density="compact" class="text-subtitle-2">
                                <thead>
                                    <tr>
                                        <th class="text-left" colspan="6">
                                            Price @ Qty
                                        </th>
                                        <th class="text-left">
                                            Extended price
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-if="!bom_loading" v-for="{ cost, quantity } in project?.total_costs.pricing">
                                        <td colspan="6">{{ (cost / quantity).toFixed(2) }} @ {{ quantity }}</td>
                                        <td>{{ cost.toFixed(2) }} {{ project?.total_costs.currency }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="12"> No data </td>
                                    </tr>
                                </tbody>
                            </v-table>
                        </v-card>

                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-container v-if="bom_loading">
            <v-row class="d-flex align-center justify-center">
                <v-spacer />
                <v-col cols="auto">
                    <v-progress-circular color="primary" size="75" width="10" :model-value="bom_progress?.value" />
                </v-col>
                <v-col cols="auto">
                    <h1 class="text-info">Fetching supplier data</h1>
                    <p>This might take a while...</p>
                </v-col>
                <v-spacer />
            </v-row>
        </v-container>
        <v-data-table v-else :items="items" :headers="headers" item-value="sort" show-expand>
            <template v-slot:top>
                <v-toolbar dense floating>
                    <v-btn-toggle v-model="view_mode" class="ma-2" variant="outlined" color="primary" mandatory>
                        <v-btn value="parts">
                            <v-icon>mdi-format-list-bulleted-square</v-icon>
                        </v-btn>

                        <v-btn value="grouped">
                            <v-icon>mdi-file-tree</v-icon>
                        </v-btn>

                        <v-btn value="details" disabled>
                            <v-icon>mdi-format-list-text</v-icon>
                        </v-btn>

                    </v-btn-toggle>

                    <v-divider vertical inset></v-divider>

                    <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2" variant="solo"
                        density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
                    <v-app-bar-nav-icon disabled></v-app-bar-nav-icon>

                </v-toolbar>
            </template>

            <template v-slot:item.references="{ item }">
                {{ item.raw.references.join(', ') }}
            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-container fluid>
                            <div>
                                Part description
                            </div>

                            <v-divider class="my-2"></v-divider>


                            <v-row v-for="m in manufacturers_for_part_id(item_info(item).part_id)">
                                <v-col cols="3">
                                    <manufacturer-part-info :partno="m.partno" :manufacturer_name="m.manufacturer.name"
                                        description="Manufacturer part solution" />
                                </v-col>
                                <v-divider vertical />
                                <v-col v-for="s in m.suppliers" cols="3">
                                    <supplier-part-info :partno="s.partno" :supplier_name="s.supplier.name"
                                        description="Supplier part solution">

                                        <v-table density="compact" class="text-subtitle-2">
                                            <thead>
                                                <tr>
                                                    <th class="text-left">
                                                        Price @ Qty
                                                    </th>
                                                    <th class="text-left">
                                                        Extended price
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr v-for="{ cost, quantity } in s.stock?.pricing">
                                                    <td>{{ cost.toFixed(2) }} @ {{ quantity }}</td>
                                                    <td>{{ (quantity * cost).toFixed(2) }} {{ s.stock?.currency }}</td>
                                                </tr>
                                            </tbody>
                                        </v-table>
                                    </supplier-part-info>
                                </v-col>
                                <v-divider></v-divider>

                            </v-row>
                        </v-container>


                    </td>
                </tr>
            </template>

        </v-data-table>

    </v-container>
</template>

<script lang="ts">
import { socket, state } from '@/socket';
import { defineComponent } from 'vue';
import ConnectionManager from '@/components/ConnectionManager.vue';

import { BomPart, BomPartGroup, BomManufacturerPart } from 'frontend_common';
import { ManufacturerPartInfo, SupplierPartInfo } from 'frontend_common'

export default defineComponent({
    data: () => ({
        view_mode: 'grouped' as 'parts' | 'grouped' | 'details',
        name: ''
    }),
    methods: {
        refresh() {
            socket.emit('refresh')
        },
        item_info(item: { raw: any }): BomPart | BomPartGroup {
            return item.raw
        },
        item_part(item: { raw: any }): BomPart {
            return item.raw
        },
        item_group(item: { raw: any }): BomPart {
            return item.raw
        },
        manufacturers_for_part_id(part_id: number | undefined): BomManufacturerPart[] | undefined {
            if (part_id == undefined) {
                return undefined
            }
            return this.bom_groups.find(g => g.part_id == part_id)?.manufacturers
        }
    },
    computed: {
        items(): BomPart[] | BomPartGroup[] {
            if (this.view_mode == 'grouped') {
                return this.bom_groups
            }

            return this.bom_parts
        },
        headers() {
            if (this.view_mode == 'grouped') {
                return [
                    { title: "Sort", key: 'sort' },
                    { title: "Part ID", key: 'part_id' },
                    { title: "References", key: 'references', width: '50%', cellClass: "text-truncate" },
                    { title: "Quantity", key: 'quantity' },
                    { title: "Value", key: 'title' },
                    { title: "Status", key: 'status' },
                ]
            }

            return [
                { title: "Sort", key: 'sort' },
                { title: "Part ID", key: 'part_id' },
                { title: "Reference", key: 'reference' },
                { title: "Value", key: 'title' },
                { title: "Status", key: 'status' },

            ]
        },

        bom_data() {
            return state.bom;
        },
        project() {
            return state.bom?.project;
        },
        bom_parts() {
            return state.bom?.parts || [];
        },
        bom_groups() {
            return state.bom?.groups || [];
        },
        bom_loading() {
            return state.loading;
        },
        bom_progress() {
            return state.progress;
        }
    },
    components: { ConnectionManager, ManufacturerPartInfo, SupplierPartInfo }
})
</script>
