<template>
  <v-app-bar density="compact">
    <v-breadcrumbs :items="bread_crumbs"/>
  </v-app-bar>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  computed: {
    bread_crumbs() {
      if (typeof this.$route.meta.bread_crumbs === "function") {
        return this.$route.meta.bread_crumbs.call(this, this.$route);
      }
      return this.$route.meta.bread_crumbs;
    }
  }
});

</script>