<template>
  <v-navigation-drawer :rail="rail" permanent>

    <router-link :to="{ name: 'home' }"> <v-img class="ma-2" src="@/assets/ki-365-logo.svg" contain></v-img></router-link>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item :prepend-icon="rail ? 'mdi-chevron-right' : 'mdi-chevron-left'" :title="!rail ? 'Hide' : undefined"
        @click.stop="toggle"></v-list-item>

      <v-divider :thickness="rail ? 5 : 1" />

      <v-list-subheader v-if="!rail">Part managament</v-list-subheader>

      <v-list-item prepend-icon="mdi-memory" title="Parts" value="parts" :to="{ name: 'parts' }"></v-list-item>
      <v-list-item prepend-icon="mdi-format-list-group" title="Assemblies" value="assemblies"
        :to="{ name: 'assemblies' }"></v-list-item>

      <v-divider :thickness="rail ? 5 : 1" />

      <v-list-subheader v-if="!rail">Supply chain</v-list-subheader>

      <v-list-item prepend-icon="mdi-factory" title="Manufacturers" value="manufacturers"
        :to="{ name: 'manufacturers' }"></v-list-item>
      <v-list-item prepend-icon="mdi-warehouse" title="Suppliers" value="suppliers"
        :to="{ name: 'suppliers' }"></v-list-item>


      <div v-if="kicad_database">
        <v-divider :thickness="rail ? 5 : 1" />

        <v-list-subheader v-if="!rail">KiCad</v-list-subheader>

        <!--
        <v-list-item title="General" value="kicad-general" :to="{ name: 'kicad' }">
          <template v-slot:prepend>
            <v-avatar class="mr-8" size="x-small" image="@/assets/kicad/icon_kicad.svg" rounded="0"></v-avatar>
          </template>
        </v-list-item>
        -->

        <v-list-group value="kicad-libraries">
          <template v-slot:activator="{ props, isOpen }">
            <v-list-item v-bind="props" value="_idk" :title="kicad_database.name" @click="show">
              <template v-slot:prepend>
                <v-icon icon="mdi-database" />
              </template>
            </v-list-item>
          </template>

          <v-list-item v-for="lib in kicad_database.libraries" :title="lib.name" :value="'kicad-lib-' + lib.slug"
            :to="{ name: 'kicad_libraries', params: { library: lib.slug } }">
          </v-list-item>

        </v-list-group>

        <v-list-item title="Symbols" value="kicad-symbols" :to="{ name: 'kicad_symbols' }">
          <template v-slot:prepend>
            <v-avatar class="mr-8" size="x-small" image="@/assets/kicad/symbol.svg" rounded="0" />
          </template>
        </v-list-item>

        <v-list-item title="Footprints" value="kicad-footprints"  :to="{ name: 'kicad_footprints' }">
          <template v-slot:prepend>
            <v-avatar class="mr-8" size="x-small" image="@/assets/kicad/module.svg" rounded="0" />
          </template>
        </v-list-item>
      </div>

    </v-list>

    <template v-slot:append>
      <v-list density="compact" nav>
        <v-divider :thickness="rail ? 5 : 1" />

        <v-list-subheader v-if="!rail" title="Settings"></v-list-subheader>

        <login-info />

        <v-list-item v-if="current_user" prepend-icon="mdi-cog" title="Settings" value="settings"
          :to="{ name: 'settings' }"></v-list-item>

      </v-list>
    </template>


  </v-navigation-drawer>
</template>

<script lang="ts">
import LoginInfo from "@/components/LoginInfo.vue";

import { Database, KicadLibrariesService, Library } from "@/services/kicad";
import { defineComponent } from "vue";

import { useAuthStore } from "@/stores/auth.store";
import { useNavbarStore } from "@/stores/navbar.store";
import { AxiosError } from "axios";

let auth_store = useAuthStore()
let navbar_store = useNavbarStore()


export default defineComponent({
  data: () => ({
    open_kicad: true,
    kicad_database: undefined as undefined | Database,
    drawer: true
  }),
  computed: {
    current_user() {
      return auth_store.user
    },
    rail() {
      return navbar_store.is_rail
    }
  },
  watch: {
    'current_user'(val) {
      if (val) {
        this.load_libraries()
      } else {
        this.kicad_database = undefined
      }
    }
  },
  methods: {
    load_libraries() {
      KicadLibrariesService.get_all().then(database => {
        this.kicad_database = database;
      }).catch((err: AxiosError) => {
        //TODO
      });
    },
    toggle() {
      navbar_store.toggle()
      if (navbar_store.rail) {
        this.open_kicad = false
      }
    },
    show() {
      navbar_store.show()
    }
  },
  mounted() {
    this.load_libraries()
  },
  components: { LoginInfo }
});

</script>
