<template>
    <v-container fluid>
        <v-alert v-if="error" title="Network error" :text="error" type="error" variant="tonal"></v-alert>
        <v-card-title>General</v-card-title>
        <v-expansion-panels>
            <v-expansion-panel eager>
                <template v-slot:title>
                    <v-list-item title="Account" subtitle="Username, change password, etc...">
                        <template v-slot:prepend>
                            <v-avatar>
                                <v-icon>mdi-account-edit</v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </template>

                <template v-slot:text>
                    <v-card density="compact">
                        <v-card-text>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field v-model="new_username_vmodel" label="Username"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn :disabled="new_username == current_user?.name">Change username</v-btn>
                            <v-spacer />

                        </v-card-actions>
                    </v-card>
                    <v-card density="compact">
                        <v-card-text>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field label="Old password"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field label="New password"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field label="Confirm new password"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn :disabled="new_username == current_user?.name">Change password</v-btn>
                            <v-spacer />

                        </v-card-actions>
                    </v-card>

                </template>
            </v-expansion-panel>
        </v-expansion-panels>
        <v-card-title v-if="current_user?.is_admin">Admin area</v-card-title>
        <v-expansion-panels v-if="current_user?.is_admin">
            <v-expansion-panel>
                <template v-slot:title>
                    <v-list-item title="Users" subtitle="Settings for other users">
                        <template v-slot:prepend>
                            <v-avatar>
                                <v-icon>mdi-account-multiple</v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </template>
                <template v-slot:text>
                    <v-data-table :items="users" :headers="user_headers" item-value="name" class="elevation-1">
                        <template v-slot:top>
                            <v-toolbar density="compact">
                                <v-toolbar-title>

                                </v-toolbar-title>
                                <v-spacer />
                                <v-btn prepend-icon="mdi-plus" @click="create_user">
                                    <p class="hidden-sm-and-down">Add user</p>
                                </v-btn>
                            </v-toolbar>
                        </template>

                        <template v-slot:item.roles="{ item }">
                            {{ summerize_user_role(item.raw) }}
                        </template>

                        <template v-slot:item.actions="{ item }">
                            <v-icon size="small" class="me-2" @click="edit_user(item.raw)">
                                mdi-pencil
                            </v-icon>
                            <v-icon size="small" class="me-2" @click="delete_user(item.raw)">
                                mdi-delete
                            </v-icon>
                            <v-icon size="small" @click="reset_user_password(item.raw)">
                                mdi-lock-reset
                            </v-icon>
                        </template>
                    </v-data-table>
                </template>
            </v-expansion-panel>
            <v-expansion-panel eager>
                <template v-slot:title>
                    <v-list-item title="Server" subtitle="Server settings">
                        <template v-slot:prepend>
                            <v-avatar>
                                <v-icon>mdi-server</v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </template>

                <template v-slot:text>

                </template>
            </v-expansion-panel>

        </v-expansion-panels>
    </v-container>

    <confirm-dialog ref="confirm_delete" />
    <add-edit-user ref="add_edit_user" @on_delete="delete_user" />
</template>

<script lang="ts">
import { User, useAuthStore } from '@/stores/auth.store';
import { AxiosError } from 'axios';
import { defineComponent, ref } from 'vue';

import ConfirmDialog from '@/components/ConfirmDialog.vue';
import AddEditUser from '@/components/AddEditUser.vue'
import { UserService } from '@/services/user';

const auth_store = useAuthStore()

export default defineComponent({
    data: () => ({
        error: undefined as string | undefined,

        users: [] as User[],
        user_headers: [
            { title: "User ID", key: 'id' },
            { title: "Name", key: 'name' },
            { title: "Permissions", key: 'roles', sortable: false },
            { title: "Actions", key: 'actions', sortable: false }
        ],

        new_username: undefined as string | undefined
    }),
    computed: {
        current_user() {
            return auth_store.user
        },
        new_username_vmodel: {
            get() {
                return this.new_username || this.current_user?.name
            },
            set(val: string) {
                this.new_username = val
            }
        }
    },
    methods: {
        load_users() {
            UserService.get_all_users().then(users => {
                this.error = undefined
                this.users = users
            }).catch((err: AxiosError | Error) => {
                this.error = err.message
            })
        },
        summerize_user_role(user: User): string {
            var res = []
            if (user.is_admin) {
                res.push('Admin')
            }
            if (user.is_engineer) {
                res.push('Engineer')
            }
            if (user.is_librarian) {
                res.push('Librarian')
            }
            if (res.length > 0) {
                return res.join(', ')
            } else {
                return "View"
            }
        },
        create_user() {
            this.add_edit_user?.create_user().then(user => {
                if (user) {
                    this.users.push(user)
                }
            })
        },
        edit_user(item: User) {
            this.add_edit_user?.edit_user(item).then(user => {
                if (user) {
                    let index = this.users.findIndex(v => v.id == user.id)
                    if (index != -1) {
                        this.users.splice(index, 1, user)
                    }
                }
            })
        },
        delete_user(item: User) {
            this.confirm_delete?.show(`Delete user "${item.name}"`, "Are you sure?").then(res => {
                if (res) {
                    UserService.delete(item.id || 0).then(user => {
                        let index = this.users.findIndex(v => v.id == user.id)
                        if (index != -1) {
                            this.users.splice(index, 1)
                        }
                    })
                }
            })
        },
        reset_user_password(item: User) {
            this.confirm_delete?.show(`Reset "${item.name}" password`, "Are you sure?").then(res => {
                if (res) {
                    UserService.reset_password(item.id || 0).then(_ => {
                        // Don't care
                    }).catch(err => {

                    })
                }
            })
        }
    },
    mounted() {
        if (this.current_user?.is_admin) {
            this.load_users()
        }
    },
    setup() {
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);
        const add_edit_user = ref<InstanceType<typeof AddEditUser> | null>(null);

        return { confirm_delete, add_edit_user }
    },
    components: { ConfirmDialog, AddEditUser }

});
</script>