<template>
    <v-card fluid variant="tonal">
        <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">
            <template v-slot:prepend>
                <v-icon>mdi-factory</v-icon>
            </template>

            <v-toolbar-title>
                {{ partno }}
            </v-toolbar-title>

            <template v-slot:append v-if="status">
                <status-icon :status="status" show_name />
            </template>
        </v-toolbar>

        <v-card-subtitle class="mb-2" v-if="manufacturer_name">
            Manufacturer: {{ manufacturer_name }}
        </v-card-subtitle>

        <v-divider thickness="5" :color="status?.color" class="border-opacity-50" />

        <v-card-text>
            {{ description }}
        </v-card-text>

        <slot></slot>

    </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import StatusIcon from './StatusIcon.vue';


import { Status } from '../status';

export default defineComponent({
    props: {
        partno: {
            type: String,
            required: true
        },
        manufacturer_name: {
            type: String,
        },
        description: {
            type: String,
        },
        status: {
            type: Object as () => Status,
        },

    },
    components: { StatusIcon }

});

</script>