<template>
    <v-icon class="mx-2" :icon="status.icon" :color="status.color" />
    <template v-if="show_name">{{ status.name }}</template>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import { Status } from '../status'

export default defineComponent({
    props: {
        status: {
            type: Object as () => Status,
            required: true
        },
        show_name: {
            type: Boolean
        }
    }
});

</script>