<template>
    <v-dialog v-model="show" persistent width="1024" scrollable>
        <v-card :loading="loading">
            <v-form v-model="dialog_valid" fast-fail @submit.prevent>
                <v-card-title>
                    <span class="text-h5">Add assembly revision</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field label="Revision*" v-model="assembly_revision.revision" :rules="revision_rules"></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Revision slug" v-model="assembly_revision.revision_slug" placeholder="Optional"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-select :items="assembly_revision_status_choices" label="Status*" v-model="assembly_revision.status"
                                    item-title="name" item-value="value" required />
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()" prepend-icon="mdi-close">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()" prepend-icon="mdi-content-save">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { AssemblyRevision, AssemblyService } from '@/services/assembly';

import { assembly_revision_status_choices } from 'frontend_common';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),
        show: false,
        error: undefined as string | undefined,
        loading: false,
        assembly_id: undefined as number | undefined,
        assembly_revision: {
            id: undefined,
            revision: '',
            status: 'active',
            fields: [],
        } as AssemblyRevision,
        // Form validation
        dialog_valid: false,
        revision_rules: [
            (value: string) => {
                if (value?.trim().length >= 1)
                    return true;
                return "Revision must be at least 1 character.";
            },
        ]
    }),
    methods: {
        create_assembly_revision(assembly_id: number): Promise<AssemblyRevision | null> {
            this.show = true;
            this.assembly_id = assembly_id;
            this.assembly_revision = {
                id: undefined,
                revision: '',
                status: 'active',
                fields: [],
            };
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false;
            this.resolve?.(null);
        },
        save_dialog() {
            // Edit/create the part
            if (this.assembly_id) {
                this._create_revision();
            } else {
                this.close_dialog()
            }
        },
        _create_revision() {
            // Create part
            AssemblyService.create_revision(this.assembly_id || 0, this.assembly_revision).then(revision => {
                this.loading = false;
                this.resolve?.(revision);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        }
    },
    setup() {
        return { assembly_revision_status_choices };
    }
});
</script>