<template>
    <v-dialog v-model="show" persistent scrollable max-width="1024">
        <v-card>
            <v-form v-model="dialog_valid" fast-fail @submit.prevent>

                <v-card-title>
                    <span class="text-h5">{{ kicad_part?.id ? 'Edit' : 'Add' }} KiCad part</span>
                </v-card-title>

                <v-card-text>
                    <v-list-subheader>Properties</v-list-subheader>
                    <v-divider class="mb-4" />
                    <v-row dense>

                        <v-col cols="12" sm="4">
                            <!-- If the a  -->
                            <v-autocomplete v-model="selected_library" :items="libraries" v-model:search="search_libraries"
                                item-title="name" item-value="slug" return-object :loading="loading" label="Library*"
                                single-line required @update:search="query_libraries" :disabled="!part_id"></v-autocomplete>
                        </v-col>

                        <v-col cols="12" sm="8">
                            <v-text-field label="Reference*" v-model="kicad_part.reference" :rules="reference_rules"
                                persistent-hint required :disabled="!part_id"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12">
                            <v-textarea label="Description*" v-model="kicad_part.description" rows="3"
                                required></v-textarea>
                        </v-col>

                        <v-col cols="12" sm="12">
                            <v-text-field label="Keywords*" v-model="kicad_part.keywords" persistent-hint required
                                hint="Example: amplifier pulse-proof etc..."></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6">

                            <v-autocomplete v-model="kicad_part.symbols" :items="symbols"
                                v-model:search="search_symbols" :loading="loading_symbols" :rules="symbol_rules"
                                item-value="ref" item-title="ref" label="Symbol*" single-line required
                                placeholder="library:symbol" @update:search="query_symbols(search_symbols)">
                                <template v-slot:append>
                                    <v-btn icon="mdi-select-search" variant="plain" @click="select_symbol_dialog"></v-btn>
                                </template>
                            </v-autocomplete>
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-autocomplete v-model="kicad_part.footprints" :items="suggested_footprints"
                                v-model:search="search_footprints" :loading="loading_footprints" :rules="footprint_rules"
                                item-value="ref" item-title="ref" label="Footprint*" single-line required
                                placeholder="library:footprint" @update:search="query_footprints(search_footprints)">
                                <template v-slot:append>
                                    <v-btn icon="mdi-select-search" variant="plain" @click="select_footprint_dialog"></v-btn>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>

                    <template v-if="selected_library?.fields">
                        <v-list-subheader>Fields</v-list-subheader>
                        <v-divider class="mb-4" />
                        <v-row no-gutters v-for="field in selected_library.fields" dense>
                            <v-col sm="8" md="6">
                                <v-text-field :label="field.name + (field.required ? '*' : '')"
                                    :model-value="kicad_part.fields?.[field.key]"
                                    @update:model-value="kicad_part.fields[field.key] = $event" :required="field.required"
                                    :suffix="field.unit" :hint="field.hint"></v-text-field>
                            </v-col>
                        </v-row>
                    </template>

                    <v-list-subheader>Attributes</v-list-subheader>
                    <v-divider class="mb-4" />
                    <v-row dense>

                        <v-col cols="12" sm="4">
                            <v-checkbox v-model="kicad_part.exclude_from_bom" label="Exclude from BOM" />
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-checkbox v-model="kicad_part.exclude_from_board" label="Exclude from board" />
                        </v-col>

                    </v-row>
                    <template v-if="error">
                        <v-alert title="Network error" :text="error" type="error" variant="tonal"></v-alert>
                    </template>

                </v-card-text>



                <v-card-actions>
                    <a class="mx-4">* Indicates required field</a>

                    <v-spacer></v-spacer>
                    <v-btn class="mx-4" prepend-icon="mdi-close" color="blue-darken-1" variant="text"
                        @click="close_dialog()">
                        Close
                    </v-btn>
                    <v-btn class="mx-4" prepend-icon="mdi-content-save" color="blue-darken-1" variant="text" type="submit"
                        :disabled="!dialog_valid" :loading="loading" @click="save_dialog()">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>

    </v-dialog>

    <select-footprint ref="select_footprint" />
    <select-symbol ref="select_symbol" />

</template>

<script lang="ts">
import { KicadLibrariesService, KicadPartService, KicadSymbolService, KicadFootprintService, Library } from '@/services/kicad';
import { KicadPart, KicadSymbol, KicadFootprint } from '@/services/kicad';
import SelectFootprint from './SelectFootprint.vue';
import SelectSymbol from './SelectSymbol.vue';

import { defineComponent, ref } from 'vue';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

        show: false,
        error: null as null | string,
        loading: false,

        // Suppliers selection

        loading_libraries: false,
        search_libraries: '',
        libraries: [] as Library[],
        selected_library: undefined as undefined | Library,

        loading_symbols: false,
        search_symbols: '',
        symbols: [] as KicadSymbol[],

        loading_footprints: false,
        search_footprints: '',
        footprints: [] as KicadFootprint[],
        recommended_footprints: [] as KicadFootprint[],


        kicad_part: {
            reference: '',
            symbols: '',
            footprints: '',
            exclude_from_bom: false,
            exclude_from_board: false,
            fields: {}
        } as KicadPart,

        part_id: undefined as number | undefined,

        // Form validation
        dialog_valid: false,
        reference_rules: [
            (value: string) => {
                if (/^[a-z0-9]+(?:-[a-z0-9]+)*$/.test(value)) return true

                return 'Invalid reference'
            },
        ],
        symbol_rules: [
            (value: string | null) => {
                if (!value) return false


                if (/^[a-zA-Z0-9_\-.,+]+:[a-zA-Z0-9_\-.,+]+$/.test(value)) return true

                return 'Invalid symbol link'
            },
        ],
        footprint_rules: [
            (value: string | null) => {
                if (!value) return false

                if (/^[a-zA-Z0-9_\-.,+]+:[a-zA-Z0-9_\-.,+]+$/.test(value)) return true

                return 'Invalid footprint link'
            },
        ],
    }),
    computed: {
        suggested_footprints(): KicadFootprint[] {
            return this.recommended_footprints.concat(this.footprints)
        }
    },
    watch: {
        show(val) {
            // Load libraries when opened
            if (val) {
                this.query_libraries()
            }
        },
        selected_library(val?: Library) {

            if (val) {
                // Clear any part fields not present in library
                for (const key in this.kicad_part.fields) {
                    if (!val.fields.find(f => f.key == key)) {
                        delete this.kicad_part.fields[key]
                    }
                }
            } else {
                // Clear fields when no library is selected
                this.kicad_part.fields = {}
            }
        },
        'kicad_part.symbols'(val?: KicadSymbol) {
            if (val && val.footprint) {
                // Clear any part fields not present in library
                this.loading_footprints = true
                this.recommended_footprints = []
                this.footprints = []
                KicadFootprintService.find({ search: val.footprint }).then(footprints => {
                    this.recommended_footprints = footprints.results
                    this.loading_footprints = false
                }).catch(err => {
                    this.loading_footprints = false
                })
            }
        }
    },
    methods: {
        create_kicad_part(part_id: number): Promise<{ part: KicadPart, library: Library } | null> {
            this.show = true
            this.kicad_part = {
                part_id,
                reference: '',
                symbols: undefined,
                footprints: undefined,
                exclude_from_bom: undefined,
                exclude_from_board: undefined,
                fields: {}
            }
            this.part_id = part_id
            this.selected_library = undefined

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        select_footprint_dialog(){
            this.select_footprint?.select_footprint(this.kicad_part.footprints).then(sel => {
                if (sel) {
                    this.kicad_part.footprints = sel.lib.name + ':' + sel.fp.library_id
                }
            })
        },
        select_symbol_dialog(){
            this.select_symbol?.select_symbol(this.kicad_part.symbols).then(sel => {
                if (sel) {
                    this.kicad_part.symbols = sel.lib.name + ':' + sel.sym.library_id
                }
            })
        },
        edit_kicad_part(kicad_part: KicadPart, library: Library): Promise<{ part: KicadPart, library: Library } | null> {
            this.show = true
            Object.assign(this.kicad_part, kicad_part)
            this.part_id = undefined
            this.selected_library = library

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        query_libraries() {
            this.loading_libraries = true
            KicadLibrariesService.get_all().then(database => {
                this.libraries = database.libraries
                this.loading_libraries = false
            }).catch(err => {
                this.loading_libraries = false

            })
        },
        query_symbols(search: string) {
            this.loading_symbols = true
            KicadSymbolService.find({ search }).then(symbols => {
                this.symbols = symbols.results
                this.loading_symbols = false
            }).catch(err => {
                this.loading_symbols = false
            })
        },
        query_footprints(search: string) {
            this.loading_footprints = true
            KicadFootprintService.find({ search }).then(footprints => {
                this.footprints = footprints.results
                this.loading_footprints = false
            }).catch(err => {
                this.loading_footprints = false
            })
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false
            this.resolve?.(null)
        },
        save_dialog() {
            // Edit/create the part
            if (this.part_id) {
                // Creating a new part
                this._create_kicad_part()
            } else if (this.kicad_part?.id) {
                // Editing a part
                this._update_kicad_part()
            } else {
                this.loading = false
                this.reject?.('Missing part id')
                this.show = false
            }

        },
        _update_kicad_part() {
            if (this.selected_library) {
                let library = this.selected_library
                // Note: kicad_part.part_id is ignored even if changed
                KicadPartService.update(this.selected_library.slug, this.kicad_part.reference, this.kicad_part).then(part => {
                    this.loading = false;
                    this.show = false;
                    this.resolve?.({ part, library });
                }).catch(err => {
                    this.loading = false;
                    this.error = "Failed to update part, please try again.\n" + err
                    //this.reject?.(err);
                })
            }
        },
        _create_kicad_part() {
            if (this.selected_library) {
                let library = this.selected_library
                KicadPartService.create(this.selected_library.slug, this.kicad_part).then(part => {
                    this.loading = false;
                    this.show = false;
                    this.resolve?.({ part, library });
                }).catch(err => {
                    this.loading = false;
                    this.error = "Failed to create part, please try again.\n" + err
                    //this.reject?.(err);
                })
            }
        },

    },
    setup() {
        const select_footprint = ref<InstanceType<typeof SelectFootprint> | null>(null)
        const select_symbol = ref<InstanceType<typeof SelectSymbol> | null>(null)

        return { select_footprint, select_symbol }
    },
    components: {
        SelectFootprint,
        SelectSymbol
    }

});
</script>