<template>
    <v-dialog v-model="show" persistent width="1024" scrollable>
        <v-card>
            <v-form v-model="dialog_valid" fast-fail @submit.prevent>
                <v-card-title>
                    <span class="text-h5">{{ supplier.id ? 'Edit' : 'Add' }} supplier</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Title*" v-model="supplier.name" :rules="name_rules"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Link*" v-model="supplier.link"
                                    :rules="link_rules"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <markdown-text-field label="Description*" v-model="supplier.description"
                                    :rules="description_rules" required />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-select :items="supplier_part_status_choices" label="Status*" v-model="supplier.status"
                                    item-title="name" item-value="value" required/>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-btn v-if="supplier.id" color="error" variant="text" @click="delete_supplier()"
                        prepend-icon="mdi-delete">
                        Delete
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()" prepend-icon="mdi-close">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()" prepend-icon="mdi-content-save">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { Supplier, SuppliersService } from '@/services/suppliers';
import MarkdownTextField from '@/components/MarkdownTextField.vue';


import { supplier_part_status_choices } from 'frontend_common';

import VueMarkdown from 'vue-markdown-render';


export default defineComponent({
    emits: {
        on_delete(supplier: Supplier) {
            // perform runtime validation
            return supplier.id !== undefined;
        }
    },
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),
        show: false,
        error: undefined as string | undefined,
        loading: false,
        supplier: {
            id: undefined,
            name: "",
            link: undefined,
            description: "",
            status: "active"
        } as Supplier,
        // Form validation
        dialog_valid: false,
        name_rules: [
            (value: string) => {
                if (value?.trim().length >= 3)
                    return true;
                return "Name must be at least 3 characters.";
            },
        ],
        description_rules: [
            (value: string) => {
                if (value?.trim().length >= 15)
                    return true;
                return "Description must be at least 15 characters.";
            },
            (value: string) => {
                if (value?.trim().length < 500)
                    return true;
                return "Description must be at below 500 characters.";
            },
        ],
        link_rules: [
            (value: string) => {
                // Empty link is ok
                if (value?.trim() == '') return true

                // Validate non-empty link
                try {
                    new URL(value);
                    return true;
                } catch (err) {
                    return 'Link must be a valid url';
                }
            },
        ]
    }),
    methods: {
        create_supplier(): Promise<Supplier | null> {
            this.show = true;
            this.supplier = {
                id: undefined,
                name: "",
                link: undefined,
                description: "",
                status: "active",
            };
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        edit_supplier(part: Supplier): Promise<Supplier | null> {
            this.show = true;
            this.supplier = Object.assign({}, part);
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        delete_supplier() {
            this.$emit('on_delete', this.supplier)
            this.close_dialog()
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false;
            this.resolve?.(null);
        },
        save_dialog() {
            // Edit/create the part
            if (this.supplier.id) {
                // Creating a new part
                this._edit_supplier();
            } else {
                this._create_supplier();
            }
        },
        _create_supplier() {
            // Create part
            SuppliersService.create(this.supplier).then(part => {
                this.loading = false;
                this.resolve?.(part);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
        _edit_supplier() {
            // Create part
            SuppliersService.update(this.supplier.id || 0, this.supplier).then(part => {
                this.loading = false;
                this.resolve?.(part);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
    },
    setup() {
        return { supplier_part_status_choices };
    },
    components: { VueMarkdown, MarkdownTextField }
});
</script>