<template>
    <v-dialog v-model="show" persistent width="1024" scrollable>
        <v-card>
            <v-form v-model="dialog_valid" fast-fail @submit.prevent>
                <v-card-title>
                    <span class="text-h5">{{ part.id ? 'Edit' : 'Add' }} part</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Title*" v-model="part.title" :rules="name_rules"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <markdown-text-field label="Description*" v-model="part.description"
                                    :rules="description_rules" required />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-select :items="part_status_choices" label="Status*" v-model="part.status"
                                    item-title="name" item-value="value" required />
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-btn v-if="part.id" color="error" variant="text" @click="delete_part()"
                        prepend-icon="mdi-delete">
                        Delete
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()" prepend-icon="mdi-close">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()" prepend-icon="mdi-content-save">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { Part, PartService } from '@/services/parts';
import MarkdownTextField from '@/components/MarkdownTextField.vue';


import { part_status_choices } from 'frontend_common';

import VueMarkdown from 'vue-markdown-render';


export default defineComponent({
    emits: {
        on_delete(part: Part) {
            // perform runtime validation
            return part.id !== undefined;
        }
    },
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),
        show: false,
        error: undefined as string | undefined,
        loading: false,
        part: {
            id: undefined,
            title: "",
            description: "",
            status: "active"
        } as Part,
        // Form validation
        dialog_valid: false,
        name_rules: [
            (value: string) => {
                if (value?.trim().length >= 3)
                    return true;
                return "Name must be at least 3 characters.";
            },
        ],
        description_rules: [
            (value: string) => {
                if (value?.trim().length >= 15)
                    return true;
                return "Description must be at least 15 characters.";
            },
            (value: string) => {
                if (value?.trim().length < 500)
                    return true;
                return "Description must be at below 500 characters.";
            },
        ],
    }),
    methods: {
        create_part(): Promise<Part | null> {
            this.show = true;
            this.part = {
                id: undefined,
                title: "",
                description: "",
                status: "active",
            };
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        edit_part(part: Part): Promise<Part | null> {
            this.show = true;
            this.part = Object.assign({}, part);
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        delete_part() {
            this.$emit('on_delete', this.part)
            this.close_dialog()
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false;
            this.resolve?.(null);
        },
        save_dialog() {
            // Edit/create the part
            if (this.part.id) {
                // Creating a new part
                this._edit_part();
            } else {
                this._create_part();
            }
        },
        _create_part() {
            // Create part
            PartService.create(this.part).then(part => {
                this.loading = false;
                this.resolve?.(part);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
        _edit_part() {
            // Create part
            PartService.update(this.part.id || 0, this.part).then(part => {
                this.loading = false;
                this.resolve?.(part);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
    },
    setup() {
        return { part_status_choices };
    },
    components: { VueMarkdown, MarkdownTextField }
});
</script>