<template>
    <v-dialog v-model="show" persistent width="1024">
        <v-form v-model="dialog_valid" fast-fail @submit.prevent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">{{ part_id ? 'Add' : 'Edit' }} manufacturer part</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-autocomplete v-if="part_id" v-model="manufacturer_part.manufacturer_id"
                                    :items="manufacturers" v-model:search="search_manufacturers"
                                    :loading="loading_manufacturers" :rules="supplier_rules" item-title="name"
                                    item-value="id" label="Manufacturer*" single-line required
                                    @update:search="query_manufacturers(search_manufacturers)">
                                </v-autocomplete>
                                <v-text-field v-else readonly disabled>{{ manufacturer_part?.manufacturer?.name
                                }}</v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6">
                                <v-text-field label="Part number*" v-model="manufacturer_part.partno" :rules="name_rules"
                                    required></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6">
                                <v-select :items="manufacturer_part_status_choices" label="Status*"
                                    v-model="manufacturer_part.status" item-title="name" item-value="value" required />
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-item v-if="error">
                    <v-alert title="Network error" :text="error" type="error" variant="tonal"></v-alert>
                </v-card-item>

                <v-card-actions>
                    <v-btn v-if="!part_id" color="error" variant="text" @click="delete_dialog()" prepend-icon="mdi-delete">
                        Delete
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
        <confirm-dialog ref="confirm_delete" />
    </v-dialog>
</template>

<script lang="ts">
import { ManufacturerPart, Manufacturer, ManufacturersService, ManufacturerPartService } from '@/services/manufacturers';

import { defineComponent, ref } from 'vue';
import ConfirmDialog from './ConfirmDialog.vue';
import { PartService } from '@/services/parts';
import { manufacturer_part_status_choices } from 'frontend_common';

export default defineComponent({
    watch: {
        show() {
            if (this.show && this.part_id) {
                this.query_manufacturers(this.search_manufacturers)
            }
        }
    },
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),
        show: false,
        loading: false,
        error: null as string | null,
        // Manufacturer selection
        search_manufacturers: "",
        loading_manufacturers: false,
        manufacturers: [] as Manufacturer[],
        dialog_valid: false,
        manufacturer_part: {
            id: undefined,
            manufacturer_id: undefined,
            partno: "",
            status: 'preliminary'
        } as ManufacturerPart,
        part_id: null as number | null,
        // Rules
        name_rules: [
            (value: string) => {
                if (value?.trim().length >= 3)
                    return true;
                return "Part number must be at least 5 characters.";
            },
        ],
        supplier_rules: [
            (value: number) => {
                if (value != -1)
                    return true;
                return "Must choose a manufacturer";
            },
        ],
    }),
    methods: {
        create_manufacturer_part(part_id: number): Promise<ManufacturerPart | null> {
            this.show = true;
            this.loading = false
            this.error = null
            this.manufacturer_part = {
                manufacturer_id: undefined,
                partno: "",
                status: "preliminary",
            };
            this.part_id = part_id;
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        edit_manufacturer_part(manufacturer_part: ManufacturerPart): Promise<ManufacturerPart | null> {
            this.show = true;
            this.loading = false
            this.error = null
            this.manufacturer_part = {
                id: manufacturer_part.id,
                manufacturer: manufacturer_part.manufacturer,
                partno: manufacturer_part.partno,
                status: manufacturer_part.status,
            };
            this.part_id = null;
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        query_manufacturers(search: string) {
            this.loading_manufacturers = true;
            ManufacturersService.get_all({ search, items_per_page: 10 }).then(items => {
                this.manufacturers = items.manufacturers.filter(e => {
                    return (e.name || "").toLowerCase().indexOf((search || "").toLowerCase()) > -1;
                });
                this.loading_manufacturers = false;
            });
        },
        close_dialog() {
            this.error = null
            // Close dialog without creating/modifying a part
            this.show = false;
            this.resolve?.(null);
        },
        save_dialog() {
            this.error = null
            // Edit/create the part
            if (this.part_id) {
                // Creating a new part
                this._create_manufacturer_part();
            }
            else if (this.manufacturer_part?.id) {
                // Editing a part
                this._update_manufacturer_part();
            }
            else {
                this.loading = false;
                this.reject?.("Missing part id");
            }
        },
        delete_dialog() {
            this.confirm_delete?.show(`Delete '${this.manufacturer_part.partno}'`, 'Are you sure?').then(res => {
                if (res && this.manufacturer_part?.id) {
                    this._delete_manufacturer_part();
                }
            }).catch(() => {
                // Shouldn't fail
            })
        },
        _update_manufacturer_part() {
            // Remove manufacturer information and set manufacturer_id instead
            this.manufacturer_part.manufacturer_id = this.manufacturer_part.id;
            delete this.manufacturer_part.manufacturer;
            // Update
            ManufacturerPartService.update(this.manufacturer_part.id || -1, this.manufacturer_part).then(part => {
                this.loading = false;
                this.show = false;
                this.resolve?.(part);
            }).catch(err => {
                this.loading = false;
                this.error = "Failed to update part, please try again."
                //this.reject?.(err);
            });
        },
        _delete_manufacturer_part() {
            // Remove manufacturer information and set manufacturer_id instead
            this.manufacturer_part.manufacturer_id = this.manufacturer_part.id;
            delete this.manufacturer_part.manufacturer;
            // Update
            ManufacturerPartService.delete(this.manufacturer_part.id || -1).then(part => {
                this.loading = false;
                this.show = false;
                this.resolve?.(part);
            }).catch(err => {
                this.loading = false;
                this.error = "Failed to delete part, please try again."
                //this.reject?.(err);
            });
        },
        _create_manufacturer_part() {
            // Create part
            PartService.create_manufacturer_part(this.part_id || -1, this.manufacturer_part).then(part => {
                this.loading = false;
                this.show = false;
                this.resolve?.(part);
            }).catch(err => {
                this.loading = false;
                this.error = "Failed to create part, please try again."
                //this.reject?.(err);
            });
        },
    },
    setup() {
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);

        return { confirm_delete, manufacturer_part_status_choices }
    },
    components: { ConfirmDialog }
});
</script>