<template>
    <v-dialog v-model="show" persistent width="1024" scrollable>
        <v-card :loading="loading">
            <v-form v-model="dialog_valid" fast-fail @submit.prevent>
                <v-card-title>
                    <span class="text-h5">{{ user.id ? 'Edit' : 'Add' }} user</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-list-subheader>General</v-list-subheader>
                        <v-divider class="mb-4" />
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Name*" v-model="user.name" :rules="name_rules"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-list-subheader>Permissions</v-list-subheader>
                        <v-divider class="mb-4" />
                        <v-row dense>
                            <v-col cols="12" sm="4">
                                <v-checkbox v-model="user.is_admin" label="Admin"/>
                            </v-col>

                            <v-col cols="12" sm="4">
                                <v-checkbox v-model="user.is_engineer" label="Engineer" :disabled="user.is_admin"/>
                            </v-col>

                            <v-col cols="12" sm="4">
                                <v-checkbox v-model="user.is_librarian" label="Librarian" :disabled="user.is_admin" />
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-btn v-if="user.id" color="error" variant="text" @click="delete_user()" prepend-icon="mdi-delete">
                        Delete
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()" prepend-icon="mdi-close">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()" prepend-icon="mdi-content-save">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { UserService } from '@/services/user';
import { User } from '@/stores/auth.store';

export default defineComponent({
    emits: {
        on_delete(user: User) {
            // perform runtime validation
            return user.id !== undefined;
        }
    },
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),
        show: false,
        error: undefined as string | undefined,
        loading: false,
        user: {
            id: undefined,
            name: "",
            is_admin: false,
            is_engineer: false,
            is_librarian: false
        } as User,
        // Form validation
        dialog_valid: false,
        name_rules: [
            (value: string) => {
                if (value?.trim().length >= 3)
                    return true;
                return "Name must be at least 3 characters.";
            },
        ]
    }),
    methods: {
        create_user(): Promise<User | null> {
            this.show = true;
            this.user = {
                id: undefined,
                name: "",
                is_admin: false,
                is_engineer: false,
                is_librarian: false
            } as User

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        edit_user(user: User): Promise<User | null> {
            this.show = true;
            this.user = Object.assign({}, user);
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        delete_user() {
            this.$emit('on_delete', this.user)
            this.close_dialog()
        },
        close_dialog() {
            // Close dialog without creating/modifying a user
            this.show = false;
            this.resolve?.(null);
        },
        save_dialog() {
            // Edit/create the user
            if (this.user.id) {
                // Creating a new user
                this._edit_user();
            } else {
                this._create_user();
            }
        },
        _create_user() {
            // Create part
            UserService.create(this.user).then(user => {
                this.loading = false;
                this.resolve?.(user);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
        _edit_user() {
            // Create part
            UserService.update(this.user.id || 0, this.user).then(user => {
                this.loading = false;
                this.resolve?.(user);
                this.show = false;
            }).catch(err => {
                this.loading = false;
                this.reject?.(err);
            });
        },
    }
});
</script>