<template>
    <v-dialog v-model="show" persistent width="1024" scrollable>
        <v-form v-model="dialog_valid" fast-fail @submit.prevent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Add assembly part</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-text-field label="Reference*" v-model="assembly_part.reference"
                                    :rules="reference_rules"></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6">
                                <v-autocomplete v-model="assembly_part.part_id" :items="parts" v-model:search="search_parts"
                                    :loading="loading_parts" :rules="part_rules" item-title="title" item-value="id"
                                    label="Part*"
                                    :hint="assembly_part.part_id ? `Part-ID: ${assembly_part.part_id}` : undefined"
                                    single-line required persistent-hint
                                    @update:search="query_parts(search_parts)"></v-autocomplete>
                            </v-col>
                        </v-row>    
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>

    </v-dialog>
</template>

<script lang="ts">
import { AssemblyRevisionPart, AssemblyRevisionService } from '@/services/assembly'

import { defineComponent } from 'vue';
import { Part, PartService } from '@/services/parts';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

        show: false,

        loading: false,

        // Suppliers selection
        search_parts: '',
        loading_parts: false,
        parts: [] as Part[],

        assembly_part: {
            id: undefined,
            reference: '',
            part_id: 0,
            fields: undefined
        } as AssemblyRevisionPart,

        assembly_id: null as number | null,
        revision_slug: null as string | null,

        // Form validation
        dialog_valid: false,
        reference_rules: [
            (value: string) => {
                if (/^[A-Z]+[0-9]*$/.test(value)) return true

                return 'Invalid reference'
            },
        ],
        part_rules: [
            (value: number | undefined) => {
                if ((value || -1) != -1) return true

                return 'Must choose a part'
            },
        ],
    }),
    watch: {
        show() {
            if (this.show && this.assembly_id) {
                this.query_parts(this.search_parts)
            }
        }
    },
    methods: {
        create_assembly_part(assembly_id: number, revision_slug: string): Promise<AssemblyRevisionPart | null> {
            this.show = true
            this.assembly_part = {
                reference: '',
                part_id: undefined
            }
            this.assembly_id = assembly_id
            this.revision_slug = revision_slug

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        query_parts(search: string) {
            this.loading_parts = true
            PartService.get_all({ search, page: 1, items_per_page: 10 }).then(items => {
                this.parts = items.parts
                this.loading_parts = false
            })
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false
            this.resolve?.(null)
        },
        save_dialog() {
            // Edit/create the part
            if (this.assembly_id && this.revision_slug) {
                // Creating a new part
                this._create_supplier_part()
            } else {
                this.loading = false
                this.reject?.('Missing part id')
            }
            this.show = false
        },
        _create_supplier_part() {
            // Create part
            AssemblyRevisionService.create_part(
                this.assembly_id || -1,
                this.revision_slug || '',
                this.assembly_part
            ).then(part => {
                this.loading = false
                this.resolve?.(part)
            }).catch(err => {
                this.loading = false
                this.reject?.(err)
            })
        },


    },

});
</script>