<template>
    <v-dialog v-model="show" persistent width="1024">
        <v-form v-model="dialog_valid" fast-fail @submit.prevent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">{{ supplier_part?.id ? 'Edit' : 'Add' }} supplier part</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <!-- If the a  -->
                                <v-autocomplete v-if="manufacturer_part_id" v-model="supplier_part.supplier_id"
                                    :items="suppliers" v-model:search="search_suppliers" :loading="loading_suppliers"
                                    :rules="supplier_rules" item-title="name" item-value="id" label="Supplier*" single-line
                                    required @update:search="query_suppliers(search_suppliers)"></v-autocomplete>
                                <v-text-field v-else readonly disabled>{{ supplier_part?.supplier?.name }}</v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6">
                                <v-text-field label="Part number*" v-model="supplier_part.partno" :rules="name_rules"
                                    required></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6">
                                <v-select :items="supplier_part_status_choices" label="Status*" v-model="supplier_part.status"
                                    item-title="name" item-value="value" required />
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_dialog()">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" :loading="loading"
                        @click="save_dialog()">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>

    </v-dialog>
</template>

<script lang="ts">
import { ManufacturerPartService } from '@/services/manufacturers';
import { SupplierPart, Supplier, SuppliersService, SupplierPartService } from '@/services/suppliers';
import { supplier_part_status_choices } from 'frontend_common';

import { defineComponent } from 'vue';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

        show: false,

        loading: false,

        // Suppliers selection
        search_suppliers: '',
        loading_suppliers: false,
        suppliers: [] as Supplier[],

        supplier_part: {
            id: undefined,
            supplier_id: undefined,
            partno: '',
            status: 'preliminary',
        } as SupplierPart,

        manufacturer_part_id: null as number | null,

        // Form validation
        dialog_valid: false,
        name_rules: [
            (value: string) => {
                if (value?.trim().length >= 3) return true

                return 'Part number must be at least 5 characters.'
            },
        ],
        supplier_rules: [
            (value: number) => {
                if (value != -1) return true

                return 'Must choose a supplier'
            },
        ],
    }),
    watch: {
        show() {
            if (this.show && this.manufacturer_part_id) {
                this.query_suppliers(this.search_suppliers)
            }
        }
    },
    methods: {
        create_supplier_part(part_id: number): Promise<SupplierPart | null> {
            this.show = true
            this.supplier_part = {
                supplier_id: undefined,
                partno: '',
                status: 'preliminary',
            }
            this.manufacturer_part_id = part_id

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        edit_supplier_part(supplier_part: SupplierPart): Promise<SupplierPart | null> {
            this.show = true
            this.supplier_part = {
                id: supplier_part.id,
                supplier: supplier_part.supplier,
                partno: supplier_part.partno,
                status: supplier_part.status,
            }
            this.manufacturer_part_id = null

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        query_suppliers(search: string) {
            this.loading_suppliers = true
            SuppliersService.get_all({ search, items_per_page: 10 }).then(items => {
                this.suppliers = items.suppliers.filter(e => {
                    return (e.name || '').toLowerCase().indexOf((search || '').toLowerCase()) > -1
                })
                this.loading_suppliers = false
            })
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false
            this.resolve?.(null)
        },
        save_dialog() {
            // Edit/create the part
            if (this.manufacturer_part_id) {
                // Creating a new part
                this._create_supplier_part()
            } else if (this.supplier_part?.id) {
                // Editing a part
                this._update_supplier_part()
            } else {
                this.loading = false
                this.reject?.('Missing part id')
            }
            this.show = false
        },
        _update_supplier_part() {
            // Remove supplier information and set supplier_id instead
            this.supplier_part.supplier_id = this.supplier_part.id;
            delete this.supplier_part.supplier;
            // Update
            SupplierPartService.update(
                this.supplier_part.id || -1,
                this.supplier_part
            ).then(part => {
                this.loading = false
                this.resolve?.(part)
            }).catch(err => {
                this.loading = false
                this.reject?.(err)
            })
        },
        _create_supplier_part() {

            // Create part
            ManufacturerPartService.create_supplier_part(
                this.manufacturer_part_id || -1,
                this.supplier_part
            ).then(part => {
                this.loading = false
                this.resolve?.(part)
            }).catch(err => {
                this.loading = false
                this.reject?.(err)
            })
        },


    },
    setup() {
        return { supplier_part_status_choices }
    },

});
</script>