<template>
    <v-card fluid variant="tonal"
        :to="{ name: 'assembly_revision', params: { assembly_id: assembly_id, slug: revision.revision_slug } }">
        <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">
            <template v-slot:prepend>
                <v-icon>mdi-format-list-numbered</v-icon>
            </template>

            <v-toolbar-title>
                Revision {{ revision.revision }}
            </v-toolbar-title>

            <template v-slot:append>
                <status-icon :status="assembly_revision_stats[revision.status]" show_name/>
                <v-divider v-if="show_controls" vertical inset class="mx-2"/>
                <v-btn v-if="show_controls" icon="mdi-delete"></v-btn>
            </template>
        </v-toolbar>
        <v-card-subtitle class="mb-2">
            Revision ID: {{ revision.id }}
        </v-card-subtitle>

        <v-divider thickness="5" :color="assembly_revision_stats[revision.status]?.color"
            class="border-opacity-50" />

        <v-card-text>
            Add some descriptive text here
        </v-card-text>

    </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import { AssemblyRevision } from '@/services/assembly';
import { StatusIcon, assembly_revision_stats } from 'frontend_common'


export default defineComponent({
    props: {
        assembly_id: {
            type: Number,
            required: true
        },
        revision: {
            type: Object as () => AssemblyRevision,
            required: true
        },
        show_controls: {
            type: Boolean,
            default: false
        }
    },
    setup() {
        return { assembly_revision_stats }
    },
    components: {
        StatusIcon
    }

});

</script>