<!-- ModalDialog.vue -->
<script lang="ts" >
import { defineComponent } from 'vue'

export default defineComponent({
    data: () => ({
        show_dialog: false,


        title: '' as string,
        message: undefined as string | undefined,

        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

    }),
    methods: {
        show(title: string, message?: string): Promise<boolean> {
            this.title = title
            this.message = message
            this.show_dialog = true

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        confirm() {
            this.show_dialog = false
            if (this.resolve) this.resolve(true)
        },
        cancel() {
            this.show_dialog = false
            if (this.resolve) this.resolve(false)
        }
    },
    expose: [ 'show' ]
})
</script>

<template>
    <v-dialog v-model="show_dialog" max-width="500px">
        <v-card>
            <v-card-title class="text-h5">{{ title }}</v-card-title>
            <v-card-text v-if="message">{{ message }}</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey" variant="text" @click="cancel">Cancel</v-btn>
                <v-btn color="primary" variant="text" @click="confirm">Confirm</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>