<template>
    <v-container>
        <v-card v-if="footprint" :loading="loading_footprint" fluid density="compact">
            <v-card-title>
                {{ typeof library == 'object' ? library.name : library }} : {{ typeof footprint == 'string' ? footprint :
                    footprint.library_id }}
            </v-card-title>
            <v-divider />

            <v-card-text v-if="(typeof footprint == 'object')">
                {{ footprint?.description }}
            </v-card-text>

            <v-card-item>
                <v-alert v-if="error" title="Error" :text="error" type="error" variant="tonal" />
                <v-carousel v-else v-model="footprint_index" hide-delimiters show-arrows="hover" class="bg-black">
                    <v-carousel-item v-for="(svg_data, i) in footprint_svgs" :key="i" contain
                        :src="'data:image/svg+xml;utf8,' + encodeURIComponent(svg_data)" />
                </v-carousel>
            </v-card-item>
        </v-card>
        <v-row v-else align="center" justify="center">
            <v-spacer />
            <v-col>
                <h1 class="text-info">No footprint selected</h1>
                <p>Use the selection drawer to the left to select</p>
            </v-col>
            <v-spacer />
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { KicadFootprintService, KicadFootprintLibrary, KicadFootprint } from "@/services/kicad";
import { AxiosError } from "axios";
import { defineComponent } from "vue";

import FootprintTable from "@/components/FootprintTable.vue";

import VueMarkdown from "vue-markdown-render";

export default defineComponent({
    props: {
        library: {
            type: Object as () => KicadFootprintLibrary | string,
        },
        footprint: {
            type: Object as () => KicadFootprint | string,
        },
    },
    data: () => ({
        loading_footprint: false,
        footprint_svgs: [] as string[],
        footprint_index: 0,
        error: undefined as string | undefined
    }),
    methods: {
        load() {
            this.footprint_svgs = []
            this.loading_footprint = true
            this.error = undefined
            if (this.library && this.footprint) {
                KicadFootprintService.export_svg({
                    library: typeof this.library == 'string' ? this.library : this.library.name,
                    footprint: typeof this.footprint == 'string' ? this.footprint : this.footprint.library_id
                }).then(images => {
                    this.footprint_svgs = images
                    this.loading_footprint = false
                }).catch((err: AxiosError | Error) => {
                    this.loading_footprint = false
                    this.error = err.message
                })
            }
        }
    },
    watch: {
        footprint() {
            this.load()
        }
    },
    mounted() {
        this.load()
    },
    components: { VueMarkdown, FootprintTable }
})
</script>