<template>
    <v-container fluid pa-0 class="d-flex flex-column flex-grow-1 fill-parent-height">
        <v-row no-gutters class="flex-grow-0 flex-shrink-0">
            <v-col>
                <v-text-field v-model="search" hide-details clearable placeholder="Filter" class="mx-2"
                    density="comfortable" prepend-inner-icon="mdi-magnify" />
            </v-col>
        </v-row>
        <v-row no-gutters class="flex-grow-1 flex-shrink-1 scrollable overflow-auto">
            <v-col >
                <v-data-table :items="libraries" :headers="lib_headers" :loading="loading" item-value="slug"
                    density="compact" expand-on-click items-per-page="-1">

                    <template v-slot:expanded-row="{ columns, item }">
                        <td class="px-0 py-2" :colspan="columns.length">
                            <v-data-table :items="item_info(item).footprints" :headers="sym_headers" items-per-page="-1"
                                class="elevetaion-2 ms-5" density="compact" item-value="library_id"
                                @click:row="(_, value) => select_footprint(item.raw, value.item.raw)">

                                <template v-slot:item.library_id="{ item }">
                                    <strong v-if="selected_footprint?.library_id == item.raw.library_id"
                                        class="text-red-lighten-1">
                                        {{ item.raw.library_id }}
                                    </strong>
                                    <span v-else>
                                        {{ item.raw.library_id }}
                                    </span>
                                </template>

                                <template v-slot:bottom></template>
                            </v-data-table>
                        </td>
                    </template>

                    <template v-slot:bottom></template>
                </v-data-table>
            </v-col>

        </v-row>
    </v-container>
</template>

<script lang="ts">
import { KicadFootprintService, KicadFootprintLibrary, KicadFootprint } from "@/services/kicad";
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        modelValue: {
            type: String
        },
    },
    emits: {
        'update:modelValue': (value: string) => true,
        'on:select': (lib: KicadFootprintLibrary, fp: KicadFootprint) => true,
    },
    data: () => ({
        loading: false,
        search: '',
        libraries: [] as KicadFootprintLibrary[],
        lib_headers: [
            { title: "Library", key: "name" },
        ],
        sym_headers: [
            { title: "Footprint", key: "library_id" },
        ],
        loading_footprint: false,

        selected_library: undefined as KicadFootprintLibrary | undefined,
        selected_footprint: undefined as KicadFootprint | undefined,
        footprint_svgs: [] as string[],
        footprint_index: 0
    }),
    watch: {
        search(new_val: string, old_val: string) {
            if (new_val.trim().toLowerCase() != old_val.trim().toLowerCase()) {
                this.load_libraries()
            }
        },
        modelValue(val: string | undefined) {
            let vals = val?.split(':') || []
            if (vals.length == 2) {
                let lib_index = this.libraries.findIndex(l => l.name == vals[0])
                if (lib_index == -1) {
                    return
                }
                let lib = this.libraries[lib_index]
                let fp_index = lib.footprints?.findIndex(l => l.library_id == vals[1]) || -1
                if (fp_index == -1) {
                    return
                }
                let fp = lib.footprints?.at(fp_index)

                // Set selected
                this.selected_footprint = fp
                this.selected_library = lib
            }

        }
    },
    methods: {
        item_info(item: { raw: KicadFootprintLibrary }): KicadFootprintLibrary {
            return item.raw
        },
        load_libraries() {
            this.loading = true
            KicadFootprintService.all({ search: this.search }).then(libraries => {
                this.libraries = libraries
                this.loading = false
            }).catch(err => {
                this.loading = false
            })
        },
        select_footprint(lib: KicadFootprintLibrary, fp: KicadFootprint) {
            this.selected_footprint = fp
            this.selected_library = lib
            this.$emit('on:select', lib, fp);
            this.$emit('update:modelValue', lib.name + ':' + fp.library_id);
        }
    },
    mounted() {
        this.load_libraries()
    }
})
</script>