<!--

-->

<template>
    <v-card variant="tonal" min-width="300px">
        <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark" density="compact">
            <template v-slot:prepend>
                <v-icon>mdi-factory</v-icon>
            </template>

            <v-toolbar-title class="text-h6">
                {{ $props.part?.partno }}
            </v-toolbar-title>

            <template v-slot:append>
                <v-btn icon="mdi-pencil" variant="plain" @click="$emit('update:manufacturer-part')"></v-btn>
                <v-btn icon="mdi-delete" variant="plain" @click="$emit('delete:manufacturer-part')"></v-btn>
            </template>
        </v-toolbar>

        <v-card-subtitle class="mb-2">
            {{ $props.part?.manufacturer?.name }}
            <a v-if="$props.part?.manufacturer?.link" :href="$props.part?.manufacturer.link" target="_blank"
                rel="noopener noreferrer"><v-icon color="info" icon="mdi-link-variant" size="small"></v-icon></a>
        </v-card-subtitle>

        <v-divider :thickness="5" color="success" class="border-opacity-50"></v-divider>
        <v-list>
            <v-list-item v-for="[index, item] in $props.part?.supplier_parts?.entries()" :key="item.supplier?.name">
                <template v-slot:prepend>
                    <v-icon color="white">mdi-warehouse</v-icon>
                </template>

                <!-- Supplier name and link -->
                <v-list-item-title>
                    {{ item.supplier?.name }}
                    <a v-if="item.supplier?.link" :href="item.supplier.link" target="_blank"
                        rel="noopener noreferrer"><v-icon color="info" icon="mdi-link-variant" size="x-small"></v-icon></a>
                </v-list-item-title>

                <!-- Supplier partno -->
                <v-list-item-subtitle>
                    {{ item.partno }}
                </v-list-item-subtitle>

                <template v-slot:append>
                    <v-btn icon="mdi-content-duplicate" variant="text"></v-btn>
                    <v-btn icon="mdi-pencil" variant="text" @click="edit_supplier_part(item)"></v-btn>
                    <v-btn icon="mdi-delete" variant="text" @click="delete_supplier_part(item)"></v-btn>
                </template>
            </v-list-item>

            <v-list-item>
                <v-list-item-action>
                    <v-btn prepend-icon="mdi-plus" @click="add_supplier_part()">
                        Add Supplier
                    </v-btn>
                </v-list-item-action>
            </v-list-item>

        </v-list>
    </v-card>

    <!-- Form when adding/editing a supplier part -->
    <add-edit-supplier-part ref="edit_supplier_part" />

    <confirm-dialog ref="confirm_delete" />
</template>

<script lang="ts">

import { ManufacturerPart } from '@/services/manufacturers';
import { SupplierPart, SupplierPartService } from '@/services/suppliers';

import { defineComponent, ref } from 'vue';

import AddEditSupplierPart from './AddEditSupplierPart.vue';
import ConfirmDialog from './ConfirmDialog.vue';

export default defineComponent({
    props: {
        part: {
            type: Object as () => ManufacturerPart,
        }
    },
    data: () => ({

    }),
    methods: {
        add_supplier_part() {
            console.debug(this.edit_supplier_part)
            this.edit_supplier_part?.create_supplier_part(this.part?.id || -1)
                .then(supplier_part => {
                    if (supplier_part) {
                        this.part?.supplier_parts?.push(supplier_part)
                    }
                }).catch(err => {
                    console.error(err)
                })
        },
        edit_supplier_part(supplier_part: SupplierPart) {
            this.edit_supplier_part?.edit_supplier_part(supplier_part)
                .then(supplier_part => {
                    if (supplier_part && this.part?.supplier_parts) {
                        let idx = this.part.supplier_parts.findIndex(p => p.id == supplier_part.id)
                        if (idx != -1) {
                            this.part.supplier_parts[idx] = supplier_part
                        } else {
                            console.error('Edited part does not exist?')
                        }
                    }
                }).catch(err => {
                    console.error(err)
                })
        },
        delete_supplier_part(supplier_part: SupplierPart) {
            // Get index of part
            let index = this.part?.supplier_parts?.indexOf(supplier_part);

            // Confirm and delete
            this.confirm_delete?.show(`Delete '"${supplier_part.partno}"`, "Are you sure?").then(res => {
                if (res) {
                    SupplierPartService.delete(supplier_part.id || -1).then(supplier_part => {
                        let idx = this.part?.supplier_parts?.findIndex(p => p.id == supplier_part.id) || -1
                        if (idx != -1) {
                            this.part?.supplier_parts?.splice(idx, 1)
                        } else {
                            console.error('Edited part does not exist?')
                        }
                    }).catch(err => {

                    })
                }
            })
        },

    },
    setup() {
        const edit_supplier_part = ref<InstanceType<typeof AddEditSupplierPart> | null>(null);
        const confirm_delete = ref<InstanceType<typeof ConfirmDialog> | null>(null);

        return { edit_supplier_part, confirm_delete }
    },
    components: { AddEditSupplierPart, ConfirmDialog }
})
</script>