<template>
    <v-list-item v-if="current_user" prepend-icon="mdi-account" :title="current_user.name" subtitle="Log out"
        @click.stop="logout" />
    <v-list-item v-else prepend-icon="mdi-login" title="Log in" @click.stop="show_login = true" />

    <!-- Signin dialog -->
    <v-dialog v-model="show_login" max-width="512">
        <v-form v-model="dialog_valid" fast-fail @submit.prevent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Log in</span>
                </v-card-title>
                <v-card-text>
                    <v-container fluid>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field ref="username" label="Username*" v-model="login_username" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field ref="password" label="Password*" v-model="login_password" type="password"
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-alert v-if="error" title="Network error" :text="error" type="error" variant="tonal"></v-alert>

                <v-card-actions>
                    <small>*indicates required field</small>

                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="close_login()">
                        Close
                    </v-btn>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid" @click="login()">
                        Submit
                    </v-btn>
                </v-card-actions>

            </v-card>
        </v-form>
    </v-dialog>

    <!-- Set password dialog -->
    <v-dialog v-model="show_set_password" max-width="512">
        <v-form v-model="dialog_valid" fast-fail @submit.prevent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Set password</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Username" v-model="login_username" disabled></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="New password*" v-model="login_password" type="password"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Repeat password*" v-model="login_confirm_password" type="password"
                                    :rules="[password_confirmation_rule]" required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-alert v-if="error" title="Network error" :text="error" type="error" variant="tonal"></v-alert>

                <v-card-actions>
                    <small>*indicates required field</small>

                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" type="submit" :disabled="!dialog_valid"
                        @click="set_password()">
                        Submit
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>


<script lang="ts">
import { defineComponent } from 'vue';
import { useAuthStore } from '@/stores/auth.store';
import { AxiosError } from 'axios';
import router from '@/router';

let auth_store = useAuthStore()

export default defineComponent({
    watch: {
        // Show login if requested from another component
        'auth_store.should_authenticate'(val) {
            if (val) {
                this.show_login = true
            }
        }
    },
    data: () => ({
        show_login: false,
        show_set_password: false,
        dialog_valid: false,
        login_username: '',
        login_password: '',
        login_confirm_password: '',
        error: undefined as string | undefined,
    }),
    // Show login if url parameters requires it and not currently logged in
    beforeRouteUpdate(to, from, next) {
        if (!this.current_user && (to.query.authenticate || auth_store.should_authenticate)) {
            this.show_login = true
        }
        next()
    },
    mounted() {
        if (!this.current_user && (this.$route.query.authenticate || auth_store.should_authenticate)) {
            this.show_login = true
        }
    },
    methods: {
        clear() {
            this.login_password = ''
            this.login_confirm_password = ''
        },
        login() {
            auth_store.login(this.login_username, this.login_password).then(change_required => {
                this.error = undefined
                this.show_login = false
                if (change_required) {
                    this.show_set_password = true
                } else {
                    auth_store.authenticate = false
                    this.$router.go(0)
                }
            }).catch((err: Error | AxiosError) => {
                this.error = "Failed to log in: " + err.message
            }).finally(() => {
                this.clear()
            })
        },
        logout() {
            auth_store.logout().then(() => {
                this.error = undefined
                this.show_login = false
                router.push({ name: 'home' })
            }).catch(err => {
                this.error = "Failed to log out: " + err.message
            })
        },
        set_password() {
            auth_store.change_password(this.login_username, this.login_password).then(() => {
                this.error = undefined
                this.show_login = false
                this.show_set_password = false
                auth_store.authenticate = false
                this.$router.go(0)
            }).catch(err => {
                this.error = "Failed to change password: " + err.message
            }).finally(() => {
                this.clear()
            })
        },
        close_login() {
            this.error = undefined
            this.show_login = false
            this.clear()
        }
    },
    computed: {
        current_user() {
            return auth_store.user
        },
        password_confirmation_rule() {
            return () => (this.login_password === this.login_confirm_password) || 'Password must match'
        }
    }
});

</script>