<template>
    <v-toolbar density="compact">
        <v-btn-group v-if="!preview" density="compact" class="mx-2">
            <v-btn icon="mdi-format-bold" variant="plain" class="ma-1" @click="insert_bold()"></v-btn>
            <v-btn icon="mdi-format-italic" variant="plain" class="ma-1" @click="insert_bold('_')"></v-btn>
            <v-btn icon="mdi-format-strikethrough" variant="plain" class="ma-1" @click="insert_bold('~~')"></v-btn>
            
            <v-divider vertical thickness="2" class="ma-1"/>
            <v-btn icon="mdi-link-variant-plus" variant="plain" class="ma-1" @click="show_insert_link"></v-btn>
            <v-btn icon="mdi-image-plus" variant="plain" class="ma-2" @click="show_insert_image"></v-btn>

            <v-divider vertical thickness="2" class="ma-1"/>
            <v-btn icon="mdi-file-plus" variant="plain" class="ma-1" disabled></v-btn>
            <v-btn icon="mdi-file-image-plus" variant="plain" class="ma-2" disabled></v-btn>
        </v-btn-group>
        <v-spacer></v-spacer>
        <v-btn @click="preview = !preview" :text="preview ? 'Edit source' : 'Preview'" variant="text"></v-btn>
    </v-toolbar>

    <v-row align="stretch">
        <v-col v-if="preview">
            <v-sheet border rounded height="300">
                <vue-markdown :source="source" class="ma-2" />
            </v-sheet>
        </v-col>
        <v-col v-else>
            <v-textarea v-model="source" ref="text_area" :label="label" :rules="rules" :required="required" auto-grow >
            </v-textarea>
        </v-col>
    </v-row>

    <v-dialog v-model="insert_link_dialog" width="50%">
        <v-card>
            <v-card-title>
                Insert link
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field v-model="link_title" label="Title" density="compact"/>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field v-model="link_url" label="Location" density="compact"/>
                        </v-col>  
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" variant="text" @click="close_insert_link">
                    Close
                </v-btn>
                <v-btn color="primary" variant="text" @click="insert_link">
                    Insert
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import VueMarkdown from 'vue-markdown-render';
import { VTextarea } from 'vuetify/lib/components/index.mjs';

export default defineComponent({
    props: {
        modelValue: {
            type: String
        },
        required: {
            type: Boolean
        },
        label: {
            type: String
        },
        rules: {
            type: Object as () => any[],
        }
    },
    emits: {
        'update:modelValue': (value: string) => true,
    },
    data: () => ({
        preview: false,

        insert_link_dialog: false,
        link_image: false,
        link_title: '',
        link_url: '',
    }),
    computed: {
        source: {
            get() {
                return this.modelValue;
            },
            set(val: string) {
                this.$emit('update:modelValue', val);
            }
        }
    },
    methods: {
        show_insert_image() {
            this.link_image = true
            this._show_insert_link()
        },
        show_insert_link() {
            this.link_image = false
            this._show_insert_link()
        },
        _show_insert_link() {
            let cursor_start = this.text_area?.selectionStart || 0
            let cursor_stop = this.text_area?.selectionEnd || cursor_start

            let source = this.text_area?.value;

            if (cursor_start != cursor_stop) {
                this.link_title = source?.substring(cursor_start, cursor_stop) || this.link_title
            }
            this.insert_link_dialog = true
        },
        close_insert_link() {
            this.insert_link_dialog = false
        },
        insert_link() {
            let cursor_start = this.text_area?.selectionStart || 0
            let cursor_stop = this.text_area?.selectionEnd || cursor_start

            let source = this.text_area?.value;

            // insert:
            var to_insert = `[${this.link_title}](${this.link_url})`
            if (this.link_image) { 
                to_insert = '!' + to_insert
            }
            if (source) {
                this.source = source.substring(0, cursor_start) + to_insert + source.substring(cursor_stop, source.length);
            } else {
                this.source = to_insert
            }
            this.close_insert_link()
        },
        insert_bold(anno: string = '**') {
            let cursor_start = this.text_area?.selectionStart || 0
            let cursor_stop = this.text_area?.selectionEnd || cursor_start

            let source = this.text_area?.value;

            // insert:
            var to_insert = anno + anno
            if (cursor_start != cursor_stop) {
                to_insert = anno + (source?.substring(cursor_start, cursor_stop) || this.link_title) + anno
            }

            if (source) {
                this.source = source.substring(0, cursor_start) + to_insert + source.substring(cursor_stop, source.length);
            } else {
                this.source = to_insert
            }
        }
    },
    setup() {
        const text_area = ref<InstanceType<typeof VTextarea> | null>(null);
        return { text_area }
    },
    components: { VueMarkdown }
})
</script>