<template>
    <v-dialog v-model="show" persistent max-width="1024">

        <v-card density="compact">
            <v-card-title>
                <span class="text-h5">Select footprint</span>
            </v-card-title>


            <v-row dense>
                <v-col cols="4">
                    <footprint-table :model-value="ref" @on:select="load_footprint" style="height: 75vh;" />
                </v-col>
                <v-divider vertical />
                <v-col cols="8">
                    <footprint-view :library="selected_library" :footprint="selected_footprint" />
                </v-col>
            </v-row>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="mx-4" prepend-icon="mdi-close" color="blue-darken-1" variant="text" @click="close_dialog()">
                    Close
                </v-btn>
                <v-btn class="mx-4" prepend-icon="mdi-check" color="blue-darken-1" variant="text" type="submit"
                    :disabled="!selected_footprint" @click="save_dialog()">
                    Select
                </v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import FootprintTable from "@/components/FootprintTable.vue";
import FootprintView from "@/components/FootprintView.vue";
import { KicadFootprintLibrary, KicadFootprint } from "@/services/kicad";

import { defineComponent } from 'vue';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

        show: false,
        ref: undefined as string | undefined,

        selected_library: undefined as KicadFootprintLibrary | undefined,
        selected_footprint: undefined as KicadFootprint | undefined
    }),
    methods: {
        select_footprint(ref?: string): Promise<{ lib: KicadFootprintLibrary, fp: KicadFootprint } | null> {
            this.ref = ref
            this.show = true
            this.selected_footprint = undefined
            this.selected_library = undefined
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        load_footprint(lib: KicadFootprintLibrary, fp: KicadFootprint) {
            this.selected_footprint = fp
            this.selected_library = lib
            this.ref = lib.name + ':' + fp.library_id
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false
            this.resolve?.(null)
        },
        save_dialog() {
            // Edit/create the part
            this.show = false;
            this.resolve?.({ lib: this.selected_library, fp: this.selected_footprint });
        },
    },
    components: { FootprintTable, FootprintView }

});
</script>