<template>
    <v-dialog v-model="show" persistent max-width="1024">

        <v-card density="compact">
            <v-card-title>
                <span class="text-h5">Select symbol</span>
            </v-card-title>


            <v-row dense>
                <v-col cols="4">
                    <symbol-table :model-value="ref" @on:select="load_symbol" style="height: 75vh;" />
                </v-col>
                <v-divider vertical />
                <v-col cols="8">
                    <symbol-view :library="selected_library" :symbol="selected_symbol" />
                </v-col>
            </v-row>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="mx-4" prepend-icon="mdi-close" color="blue-darken-1" variant="text" @click="close_dialog()">
                    Close
                </v-btn>
                <v-btn class="mx-4" prepend-icon="mdi-check" color="blue-darken-1" variant="text" type="submit"
                    :disabled="!selected_symbol" @click="save_dialog()">
                    Select
                </v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>

<script lang="ts">
import SymbolTable from "./SymbolTable.vue";
import SymbolView from "./SymbolView.vue";
import { KicadSymbolLibrary, KicadSymbol } from "@/services/kicad";

import { defineComponent } from 'vue';

export default defineComponent({
    data: () => ({
        resolve: null as null | ((x: any) => void),
        reject: null as null | ((x: any) => void),

        show: false,
        ref: undefined as string | undefined,

        selected_library: undefined as KicadSymbolLibrary | undefined,
        selected_symbol: undefined as KicadSymbol | undefined
    }),
    methods: {
        select_symbol(ref?: string): Promise<{ lib: KicadSymbolLibrary, sym: KicadSymbol } | null> {
            this.ref = ref
            this.show = true
            this.selected_symbol = undefined
            this.selected_library = undefined
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        load_symbol(lib: KicadSymbolLibrary, sym: KicadSymbol) {
            this.selected_symbol = sym
            this.selected_library = lib
            this.ref = lib.name + ':' + sym.library_id
        },
        close_dialog() {
            // Close dialog without creating/modifying a part
            this.show = false
            this.resolve?.(null)
        },
        save_dialog() {
            // Edit/create the part
            this.show = false;
            this.resolve?.({ lib: this.selected_library, sym: this.selected_symbol });
        },
    },
    components: { SymbolTable, SymbolView }

});
</script>