<template>
    <v-container>
        <v-card v-if="symbol" :loading="loading" fluid density="compact">
            <v-card-title>
                {{ typeof library == 'object' ? library.name : library }} : {{  typeof symbol == 'string' ? symbol : symbol.library_id  }}
            </v-card-title>
            <v-divider />

            <v-card-text v-if="(typeof symbol == 'object')">
                {{ symbol?.description }}
            </v-card-text>
            <v-card-text  v-if="typeof symbol == 'object' && symbol.footprint" class="py-0">
                <strong>Footprint:</strong> {{ symbol?.footprint }}
            </v-card-text>
            <v-card-text v-if="typeof symbol == 'object' && symbol.fp_filters" class="py-0">
                <strong>Footprint filters:</strong>
                <p v-for="f in symbol?.fp_filters?.split(' ')"> - {{ f }}</p>
            </v-card-text>
            <v-card-item>
                <v-alert v-if="error" title="Error" :text="error" type="error" variant="tonal" />
                <v-carousel v-else v-model="index" hide-delimiters show-arrows="hover" class="bg-grey-lighten-2">
                    <v-carousel-item v-for="(svg_data, i) in svgs" :key="i" contain
                        :src="'data:image/svg+xml;utf8,' + encodeURIComponent(svg_data)" />
                </v-carousel>
            </v-card-item>
        </v-card>
        <v-row v-else align="center" justify="center">
            <v-spacer />
            <v-col>
                <h1 class="text-info">No symbol selected</h1>
                <p>Use the selection drawer to the left to select</p>
            </v-col>
            <v-spacer />
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { KicadSymbolLibrary, KicadSymbol, KicadSymbolService } from "@/services/kicad";
import { AxiosError } from "axios";
import { defineComponent } from "vue";

import FootprintTable from "@/components/FootprintTable.vue";

import VueMarkdown from "vue-markdown-render";

export default defineComponent({
    props: {
        library: {
            type: Object as () => KicadSymbolLibrary | string,
        },
        symbol: {
            type: Object as () => KicadSymbol | string,
        },
    },
    data: () => ({
        loading: false,
        svgs: [] as string[],
        index: 0,
        error: undefined as string | undefined
    }),
    methods: {
        load(){
            this.svgs = []
            this.loading = true
            this.error = undefined
            if (this.library && this.symbol) {
                KicadSymbolService.export_svg({ 
                    library: typeof this.library == 'string' ? this.library : this.library.name, 
                    symbol: typeof this.symbol == 'string' ? this.symbol : this.symbol.library_id 
                }).then(images => {
                    this.svgs = images
                    this.loading = false
                }).catch((err: AxiosError | Error) => {
                    this.loading = false
                    this.error = err.message
                })
            }
        }
    },
    watch: {
        symbol() {
            this.load()
        }
    },
    mounted(){
        this.load()
    },
    components: { VueMarkdown, FootprintTable }
})
</script>