<template>
    <v-data-table v-model:items-per-page="items_per_page" :headers="headers" :items="users" item-value="id"
        class="elevation-1">

        <template v-slot:item.name="{ item: { raw } }">
            <v-list-item :title="raw.name" :subtitle="summerize_user(raw)">
                <template v-slot:prepend>
                    <v-avatar>
                        <v-icon>mdi-account</v-icon>
                    </v-avatar>
                </template>
            </v-list-item>
        </template>
    </v-data-table>
</template>

<script lang="ts">
import { User, useAuthStore } from '@/stores/auth.store';
import { defineComponent } from 'vue';

const auth_store = useAuthStore()

export default defineComponent({
    data: () => ({
        users: [
            { id: 1, name: "Admin", is_admin: true },
            { id: 2, name: "User", is_engineer: true, is_librarian: true }
        ] as User[],
        headers: [
            { title: 'User ID', key: 'id' },
            { title: 'Name', key: 'name' },
            { title: 'Permissions', key: 'permissions', sortable: false },
            { title: 'Actions', key: 'actions', sortable: false }
        ],
        items_per_page: 25
    }),
    methods: {
        summerize_user(user: User) {
            var res = []
            if (user.is_admin) {
                return "Admin"
            } else {
                if (user.is_engineer) {
                    res.push("Engineer")
                }
                if (user.is_librarian) {
                    res.push("Librarian")
                }

                if (res.length > 0) {
                    return "Roles: None"
                } else {
                    return "Role(s): " + res.join(', ')
                }
            }

        },
    },
    mounted() {
        
    }

});
</script>