<template>
    <v-btn v-if="connected" @click="disconnect()">Disconnect</v-btn>
    <v-btn v-else @click="connect()">Connect</v-btn>
</template>

<script lang="ts">
import { socket, state } from "@/socket";
import { defineComponent } from "vue";

export default defineComponent({
    computed: {
        connected() {
            return state.connected;
        }
    },
    methods: {
        connect() {
            socket.connect();
        },
        disconnect() {
            socket.disconnect();
        }
    }
})
</script>