<template>
    <v-row no-gutters dense  class="fill-height">
        <v-col cols="3">
            <v-sheet border>
                <footprint-table @on:select="load_footprint" style="height: 99vh;"/>
            </v-sheet>
        </v-col>
        <v-col cols="9">
            <v-container>
                <footprint-view :library="selected_library" :footprint="selected_footprint" />
            </v-container>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import { KicadFootprintLibrary, KicadFootprint } from "@/services/kicad";
import { defineComponent } from "vue";

import FootprintTable from "@/components/FootprintTable.vue";
import FootprintView from "@/components/FootprintView.vue";

export default defineComponent({
    data: () => ({
        selected_library: undefined as KicadFootprintLibrary | undefined,
        selected_footprint: undefined as KicadFootprint | undefined
    }),
    methods: {
        load_footprint(lib: KicadFootprintLibrary, fp: KicadFootprint) {
            this.selected_footprint = fp
            this.selected_library = lib
        }
    },
    components: { FootprintTable, FootprintView }
})
</script>