<template>
    <v-container fluid>
        <v-card fluid prepend-icon="mdi-database" :title="library_name" class="mb-2">
            <v-card-text>
                <vue-markdown :source="library_description" />
            </v-card-text>
        </v-card>
        <v-card fluid prepend-icon="mdi-table" :title="current_library?.name">
            <v-data-table-server ref="table" v-model:items-per-page="parts_per_page" :search="search" :headers="headers"
                :items-length="total_parts" :items="server_parts" :loading="loading" class="elevation-1" item-value="id"
                @update:options="load_parts" :expanded="expanded" show-expand density="compact">
                <template v-slot:top>
                    <v-toolbar dense floating>
                        <v-text-field v-model="name" hide-details clearable placeholder="Search..." class="ma-2"
                            variant="solo" density="comfortable" prepend-icon="mdi-magnify"></v-text-field>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    </v-toolbar>
                </template>

                <template v-slot:item.data-table-expand="{ index, item, isExpanded, toggleExpand }">
                    <v-btn :icon="isExpanded(item) ? 'mdi-chevron-up' : 'mdi-chevron-down'" :ripple="false" variant="plain"
                        @click="on_expand(item, index, isExpanded, toggleExpand)">
                    </v-btn>
                </template>

                <template v-slot:expanded-row="{ columns, item }">
                    <tr>
                        <td :colspan="columns.length">
                            <v-container fluid>
                                <v-row>
                                    <v-col cols="12">
                                        <div style="white-space: pre-line;">{{ part_info(item).description }}</div>
                                        <v-card-text>
                                            <v-chip v-for="[name, val] in Object.entries(part_info(item).fields)"
                                                class="mx-1" :text="`${translate_field(name)}: ${val}`"></v-chip>
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                                <v-row align="stretch">
                                    <v-col cols="6">
                                        <symbol-view v-bind="split_symbol_ref(part_info(item).symbols)" />
                                    </v-col>
                                    <v-col cols="6">
                                        <footprint-view v-bind="split_footprint_ref(part_info(item).footprints)" />
                                    </v-col>
                                </v-row>

                            </v-container>
                        </td>
                    </tr>
                </template>

                <template v-slot:item.reference="{ item }">
                    {{ part_info(item).reference }}
                </template>
            </v-data-table-server>
        </v-card>
    </v-container>
</template>


<script lang="ts">
import { KicadSymbolService } from "@/services/kicad";
import { KicadFootprintService } from "@/services/kicad";
import { KicadLibrariesService, KicadPart, KicadPartService, Library } from "@/services/kicad";
import { AxiosError } from "axios";
import { defineComponent } from "vue";

import SymbolView from "@/components/SymbolView.vue";
import FootprintView from "@/components/FootprintView.vue";

import VueMarkdown from "vue-markdown-render";

interface KicadPartRaw extends KicadPart {
    symbol_index?: number
    symbol_error?: string
    symbol_svgs?: string[]
    footprint_index?: number
    footprint_error?: string
    footprint_svgs?: string[]
}

export default defineComponent({
    watch: {
        name() {
            this.search = String(Date.now());
        }
    },
    data: () => ({
        library_name: '',
        library_description: '',

        name: '',
        search: '',
        loading: false,
        server_parts: [] as KicadPartRaw[],
        parts_per_page: 25,
        total_parts: 0,

        library: null as string | null,
        libraries: [] as Library[],

        expanded: []
    }),
    computed: {
        current_library() {
            let lib_index = this.libraries.findIndex(val => val.slug == this.library)
            if (lib_index == -1) {
                return null
            }
            return this.libraries[lib_index]
        },
        headers() {
            let headers = [
                { title: "Reference", key: "reference" },
                { title: "Part#", key: "part_id" },
                { title: "Description", key: "description", sortable: false }
            ]

            let lib_index = this.libraries.findIndex(val => val.slug == this.library)
            if (lib_index == -1) {
                return headers
            }

            let lib = this.libraries[lib_index]
            for (var field of lib.fields) {
                headers.push({ title: field.name, key: 'fields.' + field.key })
            }
            return headers
        }
    },
    methods: {
        part_info(item: { raw: KicadPartRaw }): KicadPartRaw {
            return item.raw
        },
        index_to_letter(i: number, total: number): string | undefined {
            if (total <= 1) {
                return undefined
            } else if (total < 26) {
                return String.fromCharCode(97 + i)
            }
            return i.toString()
        },
        translate_field(field_key: string): string {
            if (this.current_library) {
                return this.current_library.fields.find(v => v.key == field_key)?.name || field_key
            }
            return field_key
        },
        load_parts({ page, itemsPerPage, sortBy }: {
            page: number;
            itemsPerPage: number;
            sortBy: {
                key: string;
                order: string;
            }[];
        }) {
            this.loading = true;
            var sort_order = undefined;
            var sort_key = undefined;
            if (sortBy.length >= 1) {
                sort_order = sortBy[0].order;
                sort_key = sortBy[0].key;
            }
            var search: string | undefined = this.name;
            if (search == null || search == "") {
                search = undefined;
            }
            else {
                search = search.trim();
            }

            if (this.library) {
                KicadPartService.get_all(this.library, { page, items_per_page: itemsPerPage, sort_order, sort_key, search }).then(parts_res => {
                    this.server_parts = parts_res.parts
                    this.total_parts = parts_res.total
                    this.loading = false;
                }).catch(err => {
                    //TODO
                    this.loading = false;
                })
            } else {
                this.server_parts = []
                this.loading = false;
            }
        },
        load_libraries() {
            KicadLibrariesService.get_all().then(database => {
                this.library_name = database.name
                this.library_description = database.description
                this.libraries = database.libraries

                // Trigger a search to refresh part table
                this.search = String(Date.now());
            }).catch(err => {

            })
        },
        split_symbol_ref(ref?: string): { library?: string, symbol?: string } {
            let symbols = ref?.split(':')
            if (symbols && symbols.length == 2) {
                return { library: symbols[0], symbol: symbols[1] }
            } else {
                return {}
            }
        },
        split_footprint_ref(ref?: string): { library?: string, footprint?: string } {
            let footprints = ref?.split(':')
            if (footprints && footprints.length == 2) {
                return { library: footprints[0], footprint: footprints[1] }
            } else {
                return {}
            }
        },
        on_expand(item: { raw: KicadPartRaw }, index: number, isExpanded: any, toggleExpand: any) {
            toggleExpand(item)
            if (isExpanded(item)) {
                // Fetch symbols
                let symbols = item.raw.symbols?.split(':')
                if (symbols && symbols.length == 2) {
                    item.raw.symbol_index = undefined
                    item.raw.symbol_error = undefined
                    KicadSymbolService.export_svg({ library: symbols[0], symbol: symbols[1] }).then(images => {
                        item.raw.symbol_svgs = images
                    }).catch((err: AxiosError | Error) => {
                        item.raw.symbol_error = err.message
                    }).finally(() => {
                        item.raw.symbol_index = 0
                    })
                }
                // Fetch footprints
                let footprints = item.raw.footprints?.split(':')
                if (footprints && footprints.length == 2) {
                    item.raw.footprint_index = undefined
                    item.raw.footprint_error = undefined
                    KicadFootprintService.export_svg({ library: footprints[0], footprint: footprints[1] }).then(images => {
                        item.raw.footprint_svgs = images
                    }).catch((err: AxiosError | Error) => {
                        item.raw.footprint_error = err.message
                    }).finally(() => {
                        item.raw.footprint_index = 0
                    })
                }
            } else {
                delete item.raw.symbol_svgs
                delete item.raw.footprint_svgs
            }
        },
    },
    beforeRouteUpdate(to, from, next) {
        let library = to.params.library
        this.library = Array.isArray(library) ? library[0] : library
        this.server_parts = []
        this.name = ''
        this.search = String(Date.now());
        this.expanded = []
        next()
    },
    mounted() {
        let library = this.$route.params.library
        this.library = Array.isArray(library) ? library[0] : library
        this.load_libraries()
    },
    components: { VueMarkdown, FootprintView, SymbolView }
})
</script>