<template>
    <v-row no-gutters dense  class="fill-height">
        <v-col cols="3">
            <v-sheet border>
                <symbol-table @on:select="load_symbol" style="height: 99vh;"/>
            </v-sheet>
        </v-col>
        <v-col cols="9">
            <v-container>
                <symbol-view :library="selected_library" :symbol="selected_symbol" />
            </v-container>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import { KicadSymbolLibrary, KicadSymbol } from "@/services/kicad";
import { defineComponent } from "vue";

import SymbolTable from "@/components/SymbolTable.vue";
import SymbolView from "@/components/SymbolView.vue";

export default defineComponent({
    data: () => ({
        selected_library: undefined as KicadSymbolLibrary | undefined,
        selected_symbol: undefined as KicadSymbol | undefined
    }),
    methods: {
        load_symbol(lib: KicadSymbolLibrary, sym: KicadSymbol) {
            this.selected_symbol = sym
            this.selected_library = lib
        }
    },
    components: { SymbolTable, SymbolView }
})
</script>